[2016-08-12 16:55] konklone opened #4 "Allow the tool to be used in either a Python 2 or Python 3 environment"
This means replacing the use of `sslyze` with something that can work in Python 3, or separating the `sslyze` component out in some way (by having the user rely on Docker or pyenv or something).

For what the tool currently does (analysis of HTTP behavior and HTTPS failure behavior), I think `sslyze` is wholly replace-able. `sslyze`, or something like it, would be more necessary for analyzing othe

[2016-08-14 02:38] konklone opened #5 "Turn on Travis CI builds for this repository"
There's already a [`.travis.yml`](https://github.com/dhs-ncats/pshtt/blob/master/.travis.yml) that will instruct Travis to run `flake8` on the `.py` files in the repository. It's not exactly unit tests, and it doesn't run `flake8` on `pshtt_cli`, but it's better than nothing.

[2016-08-16 19:34] konklone opened #8 "Import public suffix list"
Not a high priority, but noting for the future (and to make this tool more general purpose) that the idea of "parent domain" and "subdomain" depends on the [Public Suffix List](https://publicsuffix.org/), and we should download/cache it like we do the preload list.

Python library to do this: https://pypi.python.org/pypi/publicsuffix/

[2016-08-18 16:15] konklone opened #12 "Use more formal/complete HSTS parser"
Ideally, there would already be a good tested Python library for doing this.

For reference, here's the parser I wrote in Ruby (with careful attention to the HSTS RFC):
https://github.com/benbalter/site-inspector/blob/erics-mode/lib/site-inspector.rb#L28-L84

[2016-08-18 16:22] konklone commented on #12
Some examples of pathological HSTS situations as I find them:

[code]

[2016-08-18 17:34] h-m-f-t commented on #5
^^ done.

[2016-08-18 17:34] #5 closed

[2016-08-18 17:45] konklone commented on #12
[code]

[2016-08-18 18:30] konklone opened #13 "Possible (long standing) bugs in logic to review"
Some issues we've seen in Pulse that might merit logical changes or tweaks:

* https://github.com/18F/pulse/issues/288 (Sep 4, 2015, may not be an issue)
* https://github.com/18F/pulse/issues/211 (Jun 4, 2015, but I see this a lot, likely still an issue)

[2016-08-18 18:33] konklone commented on #13
Updated the description with a few more. I'll just update the description if I find others.

[2016-08-19 15:21] h-m-f-t opened #14 "Outputs should include the values when HTTPS {Bad Chain, Bad Hostname, Expired Cert} are TRUE"
The first question to be asked when HTTPS {Bad Chain, Bad Hostname, Expired Cert} is TRUE will be "What's the value that the scanner saw?" `pshtt` CSV/JSON outputs should include three additional fields (which should be blank when the corresponding field is FALSE).

Presuming we stick with `sslyze`:
* `HTTPS Bad Chain Value`: return the value for "Certificate Chain Received"
* `HTTPS Bad Hostname

[2016-08-20 04:52] konklone commented on #12
Here are the test cases I wrote for `site-inspector` that I would want to reproduce in a unit test suite here:

https://github.com/benbalter/site-inspector/blob/erics-mode/test/test_hsts.rb

[2016-08-20 04:58] konklone opened #17 "Unit tests for HTTP endpoints"
We need unit tests to measure behavior, to prevent regressions and to catch issues early. Testing against live endpoints is not recommended, and testing against a localhost HTTP server is not recommended.

I think we want to use something like [`vcrpy`](https://github.com/kevin1024/vcrpy) or [`betamax`](https://github.com/sigmavirus24/betamax) to capture and replay requests from particular endpoin

[2016-08-20 05:54] konklone commented on #12
[code]

[2016-08-20 06:07] konklone opened #18 "bfelob.gov blocks user agents with "github" in it"
As far as I can tell, it's "github" that does it. "githuc" works fine, "github" doesn't. We should start by asking bfelob.gov (I believe this is the OMB MAX team) to drop this restriction, as it would be nice to put a URL to this project into the user-agent.

[2016-08-20 06:12] konklone commented on #12
[code]

[2016-08-20 14:52] konklone opened #19 "Mysterious connection failures on some domains when not verifying certificates"
For a number of domains:

* `https://www.cupcao.gov`
* `https://www.mitigationcommission.gov`
* `https://www.lmrcouncil.gov`

When making a `requests.get()` call with just the URL and default args, you get a certificate verification error:

[code]

But then if you disable certificate validation, you get an `ECONNRESET` error that seems to crash **earlier** in the underlying request process workflo

[2016-08-20 14:53] konklone commented on #19
(From a compliance standpoint, having a bad hostname is basically equivalent to not responding over HTTPS, so this isn't a blocker for using this library to measure HTTPS support.)

[2016-08-20 14:58] alex commented on #19
No, the handshake is going through fine. Diligent futzing around shows that the error is occuring post-handshake, when attempting to read the HTTP status line:

[code]

[2016-08-20 14:59] alex commented on #19
`curl` has a similar result:

[code]

[2016-08-20 15:36] konklone opened #20 "ChunkedEncodingError for youth.gov"
Youth.gov has a bad hostname cert on both HTTPS endpoints, and its HTTP endpoints work in browser, and in libcurl (`site-inspector`) -- but fail in `requests` with a `ChunkedEncodingError`:

[code]

It looks like something under the hood with `urllib3` is handling odd server behavior in a non-graceful way, that browsers and `libcurl` seem to manage okay with.

[2016-08-20 16:00] konklone commented on #19
OK, and browser behavior is identical: visit https://www.cupcao.gov and you get a hostname mismatch, click through and you get a connection reset error.

So in this case, `site-inspector` was flagging the mismatched hostname despite not connecting, and `pshtt` was not flagging the mismatched hostname because of not connecting, but I think it's pretty moot in a situation like this. The site neither

[2016-08-20 16:00] #19 closed

[2016-08-21 23:23] konklone opened #23 "Make into an installable PyPi package"
For general use as a tool, users should be able to `pip install pshtt` and then be able to run the CLI right away, without cloning the repo and setting up developer dependencies.

[2016-08-21 23:26] konklone opened #24 "Rename pshtt_cli to pshtt"
The tool should just use its own name as its CLI executable. This shouldn't interfere with the main file being `pshtt.py` (though that should probably be moved, along with `models.py`, into a `lib/` directory).

[2016-08-22 09:56] h-m-f-t opened #25 "Distinguish incomplete chains from untrusted roots"
At least in a naïve fashion, flagging likely incomplete chains from untrusted roots should be feasible by counting the number of certificates returned in "Certificate Chain Received" from `sslyze`. `requests` may also return something that could be useful.

I recall`openssl` returns a 'depth' value, which, when a _site_ is less than `2` deep, is a strong indication intermediate certs are not serve

[2016-08-26 19:15] h-m-f-t commented on #12
[code]

[2016-08-30 18:04] konklone commented on #18
Closing, not able to reproduce this anymore. Will re-open with more details if we capture it again.

[2016-08-30 18:09] konklone commented on #18
I can reproduce. These are the commands:

[code]

[code]

This happens on OS X and on Ubuntu 14.04 LTS.

[2016-08-30 19:21] konklone opened #28 "Output a row to the CSV after each scan"
And catch any crashes with a generic exception handler _just_ to close the CSV file, to ensure that any partial scan results still get written out in the case of a crash.

[2016-08-30 19:21] konklone commented on #12
Just flagging that the priority here is higher, as fdic.gov is causing a crash during long-running scans.

[2016-09-07 16:50] konklone opened #29 "Move some policy decisions into pshtt"
Right now, pulse.cio.gov makes some additional policy decisions on top of `pshtt` data to prepare its published values:
- Uses HTTPS: https://github.com/18F/pulse/blob/master/data/processing.py#L367-L381
- Enforces HTTPS: https://github.com/18F/pulse/blob/master/data/processing.py#L387-L420
- HSTS: https://github.com/18F/pulse/blob/master/data/processing.py#L431-L447
- Preloaded: https://github.co

[2016-09-08 13:10] konklone commented on #13
And this one about detecting redirect domains: https://github.com/18F/pulse/issues/219#issuecomment-245582986

[2016-09-11 23:52] konklone commented on #13
For review: `faces.fta.dot.gov` should sayd Yes for Default to HTTPS (its only live endpoint is `https://`), but does not -- I think because it does a _local_ 301 redirect to a sub-path.

[2016-09-12 22:06] garrettr commented on #23
@konklone I'm working on this now!

[2016-09-12 22:49] garrettr commented on #24
As part of my work for #23, I've refactored all of the Python code into a module. Here's what the directory tree looks like now:

[code]

`pshtt_cli` has been renamed to `pshtt/cli.py`, and can be executed via either `./pshtt/cli.py` or (better, imho) `python -m pshtt.cli`.

Is this an acceptable change? Seems to me it accomplishes the spirit of this issue, although the approach is different.

In

[2016-09-13 02:35] konklone commented on #24
This seems acceptable to me. I don't suppose you tried running the Dockerfile to make sure that still all works well? I saw you updated `entrypoint.sh`, which is helpful.

[2016-09-13 03:24] konklone opened #32 "Uncaught openssl error"
Found this when scanning `access.dot.gov`:

[code]

[2016-09-18 15:56] #23 closed

[2016-09-18 15:56] #24 closed

[2016-09-25 22:30] konklone opened #33 "If given a www. subdomain, remove the www. before scanning"
In other words, running `pshtt` on `www.nasa.gov` should be the same as running it on `nasa.gov`. The tool already makes `www` a special case -- that's a fundamental assumption of the entire tool -- so this is an appropriate way to normalize input.

This is especially relevant when checking fourth-level subdomains, e.g. `www.something.example.com`, which are unfortunately common and come up freque

[2016-09-25 22:31] konklone opened #34 "If the domain is not reachable over HTTP, canonical URL should be blank"
The tool shouldn't affirmatively return a canonical URL if all 4 endpoints are down.

[2016-10-14 06:10] konklone commented on #8
Looks like GitHub's auto-closer caught "resolve #8" in #36 as meaning this should be auto-closed. Re-opening.

[2016-11-17 02:47] h-m-f-t commented on #29
@konklone: I'm sure there's a more sophisticated way to implement this than [this](https://github.com/dhs-ncats/pshtt/blob/fifteen-thirteenize/pshtt/pshtt.py#L105-L135) and would appreciate your take.

- `== False` is more readable than `!= True`, but e.g., `result['Valid HTTPS']` or `result['Downgrades HTTPS']` returns `None` for some domains that should otherwise be False, and it's not clear to

[2016-11-21 00:39] konklone commented on #29
You should be more explicit with parentheses to ensure you get a predictable order of operations. Right now it's:

[code]

And I think you should make it:

[code]

Otherwise, it's possible it could be interpreting the statement as if you had parens placed like `is_downgrades_https(domain) != (True and ... )` instead.

There are a few other locations where explicit parens would be helpful in the co

[2016-12-12 16:46] h-m-f-t commented on #29
Onwards and upwards. 🇺🇸

[2016-12-12 16:46] #29 closed

[2017-01-03 15:00] konklone opened #46 "Crash on encoding error"
Got a `requests.exceptions.ChunkedEncodingError` during scanning that caused a stack trace. Should be handled more gracefully.

[code]

[2017-01-06 22:26] garrettr commented on #4
In an ideal world, this issue would be resolved by making sslyze compatible with Python 3. This would enable us to make pshtt compatible with Python 2.x and 3.x, while maintaining the potential to support future types of scans which are only possible via sslyze.

This is not impossible: the biggest hurdle appears to be porting nassl, the Python C extension that implements the OpenSSL bindings requ

[2017-01-07 19:46] garrettr commented on #4
As stated in the issue description, the easiest way to enable Python 3 support is to remove the dependency on sslyze. To do so, we need to determine if we can at least achieve feature parity between sslyze and another library (preferably `requests`, since it's already being used in pshtt) for the scan results that are currently generated by sslyze.

pshtt derives the following results from sslyze:

[2017-01-08 19:18] konklone commented on #4
Yes. :( I looked into this a few months back, and came to a similar conclusion. I can't find my notes anymore, but it looked like efforts in the underlying libraries to fix this sort of thing was stymied by `requests` having multiple underlying backends with no standardization to how this sort of information was managed.

It might be possible to go a layer lower below `requests` and use the `ssl`

[2017-01-12 17:10] garrettr opened #47 "HSTS subdomain detection happening at the root should be more explicit"
The Guardian just deployed HSTS, and wanted to know why their score on Secure the News hadn't been updated yet. After a bit of digging, we realized the problem appears to be caused by a bug in pshtt.

Here's the relevant output from `pshtt --json theguardian.com`:

[code]

As you can see, pshtt correctly parsed the `max-age` from the HSTS header, but failed to correctly parse `includeSubDomains` o

[2017-01-12 18:22] garrettr commented on #47
I dug into this a bit more, and have verified that the HSTS parser is actually working correctly; this bug is actually caused by a confusing discrepancy in which endpoint a

First of all, note that the Guardian is currently serving two _different_ HSTS policies: one on `theguardian.com` and a different one on `www.theguardian.com`.

[code]

The discrepancy between `"HSTS Header"` and `"HSTS Entire

[2017-01-13 14:34] h-m-f-t commented on #47
Thanks @garrettr. I really appreciate your work.

It does seem confusing that `HSTS Entire Domain` and `HSTS Preload Ready` report what's at the https root endpoint, but this is consistent with our intention of capturing how HSTS protects the entire domain. (These values are especially helpful when, e.g., we're hitting subdomains but not their parent domains.) We should make sure this is clear in

[2017-01-13 14:37] konklone commented on #47
@garrettr - @h-m-f-t summed up the rationale for the current state pretty well, but to your point, if you have any suggestions for how we can make this more clear in the data output, that'd be welcome. It's still early in the tool's lifecycle and adoption, and probably still possible to make breaking changes.

[2017-01-13 19:19] garrettr commented on #47
@h-m-f-t Thanks for the fantastic reply, very helpful!

I agree, and will pass that recommendation along to folks at the Guardian!

I think making it clearer in the README, as @h-m-f-t suggested, is good enough for now!

[2017-01-13 19:37] garrettr commented on #4
I'm hopeful that the ongoing work of "porting sslyze to Python 3" is the best option here, but agree that switching to ssl stdlib or the cryptography library are also worthwhile possibilities to explore.

[2017-01-28 00:51] garrettr opened #49 ""Downgrades HTTPS" is null for abcnews.go.com"
When you access `https://abcnews.go.com` in a browser, it downgrades the connection to HTTP; however, it does not use an HTTP redirect:

[code]

Instead, it uses Javascript to redirect:

[code]

pshtt's results are confusing. `pshtt --json abcnews.go.com` returns `"Valid HTTPS": true` but also returns `"Downgrades HTTPS": null`. I would expect that if `"Valid HTTPS" true`, then `"Downgrades HTTPS"

[2017-01-28 01:31] garrettr commented on #49
This is also the case for theintercept.com, where the value for `"Downgrades HTTPS"` should definitely be `false`.

[code]

[2017-01-28 02:01] garrettr commented on #49
The issue appears to be in `is_downgrades_https`, specifically:

[code]

In the case of theintercept.com, ` canonical_https.redirect_immediately_to_http` is None, so this statement is equivalent to `return True and None and something_else`, but thanks to Python's short-circuit evaluation it just returns `None`, which is the source of the `null` in the JSON output.

[2017-01-28 14:02] konklone commented on #47
(Renamed the issue to make it more clear what the remaining action item is.)

[2017-01-28 14:03] konklone commented on #49
This is a great catch, thank you. I think we didn't notice this on our end because we're using the CSV output, which [papers over this issue](https://github.com/dhs-ncats/pshtt/blob/master/pshtt/pshtt.py#L837-L842).

I believe that the tool should always end up on `true` and `false` answers for every field, and never `null`, so that downstream tools never need to disambiguate a `null` response fro

[2017-01-30 02:42] #49 closed

[2017-01-31 16:45] klauern opened #51 "Error with internal network, self-signed CA"
Does this tool only work with publicly facing websites, or should it be able to work within internal networks with a self-signed cert?  I am not able to run it inside my corporate network, with the following error:

[code]

[2017-02-02 02:54] garrettr commented on #8
Some motivation to fix this: digital.newint.com.au would like to be added to Secure the News, but pshtt cannot scan their site because they use the `.com.au` eTLD.

[2017-02-04 18:28] konklone commented on #51
@klauern I think the intent here is to have the tool work with whatever the user's constraints are. You should be able to use it with local CAs. If the goal is to have it work with _any_ self-signed certificate, then I don't think that needs any logic changes, but you would ignore all "chain" errors when looking at the tool's output.

It looks like there are two issues here:

* No defined or docum

[2017-02-04 18:32] konklone commented on #8
@garrettr @sighmon Could you be more specific about what's not working? `pshtt` can scan the site, it's the definition of "parent domain" used to calculate some HSTS/preloading stuff that would be affected.

Below is a scan result for `digital.newint.com.au` I just ran. It's possible there's a logic bug in there relating to this, but if you can identify what it is it'll help us prioritize the work

[2017-02-05 00:19] sighmon commented on #8
@konklone @garrettr running it on macOS 10.12.3, Python 2.7.13, pip 9.0.1, I get different output (lots more null, invalid https). For reference, [securityheaders.io A](https://securityheaders.io/?q=digital.newint.com.au&hide=on&followRedirects=on) & [ssllabs.com A+](https://www.ssllabs.com/ssltest/analyze.html?d=digital.newint.com.au&hideResults=on).

[code]

[code]

[2017-02-05 23:57] konklone commented on #8
@sighmon It looks like from your scanning vantage point, you simply can't establish a connection to https://digital.newint.com.au. When you run `curl --head https://digital.newint.com.au` from the same computer, what happens?

[2017-02-06 13:38] klauern commented on #51
@konklone

It's a corporate proxy, with it's own internal Root/Intermediate CA's.  On my *nix servers, I"ve been able to add these to my trusted CA's and that's generally enough to get things working.  I actually would like to be able to tell whether some of our internal services are using self-signed certs, a different intermediate CA, etc., so I can do some better troubleshooting on our own netw

[2017-02-06 18:25] garrettr commented on #8
I have the same issue as @sighmon. Running pshtt from latest master (7362a8bdabe7190a933e4c5e18561ba9d07dc561):

<details>
<summary><code>pshtt --json digital.newint.com.au</code></summary>
<pre>
(pshtt) [user@docker pshtt]$ pshtt --json digital.newint.com.au | tee pshtt-digital.newint.com.au.json
Unexpected other requests exception.
Failed to connect.
[
  {
    "Base Domain": "com.au",
    "Canon

[2017-02-06 18:44] h-m-f-t commented on #8
@garrettr @sighmon Do you get the same results when you set a timeout?

By default, the pshtt timeout is 1 second. When I run with `--timeout=30` (which is what we usually scan federal sites at), I get good results (with the exception of `"Base Domain"`, yeah).

[2017-02-06 21:16] h-m-f-t commented on #47
I've updated the README to make it clear that `HSTS Entire Domain` and `HSTS Preload Ready` pull from the **root** HTTPS endpoint. Thanks @garrettr; feel free to reopen if additional clarity it needed.

[2017-02-06 21:16] #47 closed

[2017-02-06 21:32] h-m-f-t commented on #18
This appears to have been corrected (though, there's an HSTS header on HTTP and a low max-age on the redirect).

[code]

Tested on Ubuntu 16.04.01 LTS and OS X.

[2017-02-06 21:32] #18 closed

[2017-02-07 01:21] konklone opened #52 "Consider checking for meta refresh redirects"
Not necessarily for relaxing compliance standards around using server-side 80->443 redirects, but just to detect a broader swathe of agency behavior.

For example, segurosocial.gov seems to redirect to socialsecurity.gov, but it actually uses a `<meta>` tag to do the refresh. And further, it redirects to an insecure URL:

[code]

[code]

However, this doesn't show up in `pshtt` at all, so there's

[2017-02-07 03:04] konklone commented on #51
I believe that `pshtt` is pulling its list of trusted CAs from the OS trust store -- so I would expect that adding your corporate CA to the server trust store should resolve this. Have you installed the corporate CA on your scanning vantage point?

[2017-02-07 03:48] konklone commented on #8
@garrettr @sighmon I can reproduce on OS X (see below). `pshtt` doesn't connect to the `https://` endpoint, but cURL can do so.

But also, I just re-ran the same command on Ubuntu, and now I see it fail on the `https://` endpoint where it succeeded in my prior executions. This makes me wonder whether there's server flakiness going on.

Not sure what the issue is yet, but wanted to at least move th

[2017-02-07 03:53] konklone commented on #8
Yeah, I'm getting consistent server inconsistency. I think it's what @h-m-f-t pointed out -- the connection is susceptible to timing out with the default timeout value (and it might be made more likely by OS X for some reason). When specifying `-t 30` for a 30s timeout, I can get `pshtt` to work fine for digital.newint.com.au.

For scanning .gov domains, I have definitely had to specify a 30 secon

[2017-02-07 08:06] garrettr commented on #47
lgtm @h-m-f-t, thanks! that README change would've saved me a bit of confusion back when I first filed this issue :+1:

[2017-02-07 08:11] garrettr commented on #52
True! There are also other redirect techniques beyond meta redirects that pshtt currently can't recognize: for example, https://abcnews.go.com uses Javascript to downgrade HTTPS:

[code]

I think the most comprehensive approach would be to use browser automation - "it's the only way to be sure." On the other hand, while that would make it easy to determine whether a site downgrades HTTPS or not, i

[2017-02-07 08:29] garrettr opened #53 "slate.com is a lie"
At first glance, slate.com appears to be available over HTTPS:

[code]

pshtt agrees, and as a result so does [Secure the News](https://securethe.news/sites/slate-magazine). Unfortunately, upon closer inspection, Slate's secure homepage is a lie:

![screenshot_2017-02-07_00-12-28](https://cloud.githubusercontent.com/assets/407302/22683280/1c61bd78-eccc-11e6-8342-5fe34cdd2a7e.png)

I'm filing this

[2017-02-07 13:05] klauern commented on #51
Yes, the server/host that's running `pshtt` has these CA's installed.  I'm running a variant of Arch Linux, if that's helpful.  I know that the location of the trusts is different for Linux variants, but I don't know how this tool is implementing certificate validation.

[2017-02-07 23:48] konklone commented on #53
Yeah, this has come up internally before, and it's an interesting judgment call. It's been rare enough that I've been willing to basically give this a `Yes` for "Uses HTTPS", because I know that the situation can only be there while "Enforces HTTPS" and "HSTS" are at `No`. In other words, as they progress in their migration, the problem is guaranteed to fix itself.

[2017-02-07 23:57] garrettr commented on #53
@konklone That's a good point! At least they can only get up to a C on Secure the News. Feel free to close this issue if you don't think it warrants any development work; I just wanted to make sure it was known and to create a place for discussion in case anybody had any bright ideas!

[2017-02-08 00:08] konklone commented on #52
The main reason I was considering meta redirects as possible is because in theory we should already have the HTML content from our requests to the site, and no more network activity is necessary. We'd only need to run an HTML parse operation on the retrieved content.

To do JS redirect detection would require (as you say) a headless browser, and potentially more network requests if the relevant JS

[2017-02-08 05:07] konklone commented on #51
We're using `requests`, and it looks like it bundles its own trust store based on Mozilla's:

http://docs.python-requests.org/en/master/user/advanced/#ca-certificates

It's not well documented, but [this seems to suggest](https://github.com/kennethreitz/requests/issues/3215#issuecomment-221092279) you can use a `REQUESTS_CA_BUNDLE` environment variable to override the path `requests` uses to point

[2017-02-08 15:02] klauern commented on #51
That actually works!

[2017-02-08 15:03] klauern commented on #51
Here's some output:

[code]

[2017-02-08 19:41] konklone opened #54 "Potential bug on canonical URL detection"
We heard from NASA that in the situation where the HTTP endpoints are off, but the HTTPS endpoints have cert errors, the "canonical URL" is the HTTP version, which is confusing. I haven't verified yet.

cc @egyptiankarim for details or an example hostname

[2017-02-09 03:28] konklone commented on #51
All right, since it worked, then I think documenting that in the README (and perhaps mentioning it in a code comment) is the right approach. @h-m-f-t Any thoughts?

[2017-02-09 21:01] h-m-f-t commented on #53
Thanks @garrettr. I agree this ultimately comes out in the wash, but does mean you've got to check for 'lies' in the data. There are many (many) USG "sites" that are available over HTTPS, though without content-- a default install of IIS or something.

[2017-02-09 21:01] #53 closed

[2017-02-09 21:20] h-m-f-t commented on #51
@konklone, definitely agree. @klauern, would you be willing to take a swing at adding a few details to the README? (Thanks for bringing this up 👍 )

[2017-02-09 21:43] klauern commented on #51
Sure thing!

[2017-02-10 18:57] garrettr opened #56 ""Downgrades HTTPS" result inconsistent for economist.com"
Secure the News' score for `economist.com` just [changed](https://twitter.com/SecureTheNews/status/830121792266133504) from a D to a C, indicating that HTTPS is available (that is, the site does not downgrades HTTPS to HTTP). Unfortunately, a quick visit to https://www.economist.com shows that the site is actually still downgrading HTTPS.

Even stranger, it appears that pshtt's output is inconsist

[2017-02-10 19:03] garrettr commented on #56
After reloading `https://www.economist.com` in my browser a couple more times, it does indeed appear that they are A/B testing their HTTPS rollout! :tada:

![screenshot_2017-02-10_10-59-16](https://cloud.githubusercontent.com/assets/407302/22839953/6e7c743e-ef80-11e6-8852-5c698c002995.png)

[2017-02-10 20:16] #51 closed

[2017-02-13 12:25] fishouttah20 commented on #8
Just wanted to add a +1 for this issue as I'm looking to scan and track a large number of co.uk, co.za, etc domains.

[2017-02-15 16:43] QuarantineENG commented on #8
Question; how would i run a scan using a mix of IPs and urls from a csv file. I have a few hundred to check and cURL is taking to long. The command I used was pshtt --preload-cache=input.csv --output=tester.csv. The input.sv has our DNS export from InfoBlox which I cleaned up but I am having issues ingesting the csv file. I have tried uploading / ingesting this file several ways with no luck. Can

[2017-02-16 03:08] sighmon commented on #8
@konklone Here's my output, which still includes ```Failed to connect.```

<details>
<summary><code>$ curl --head https://digital.newint.com.au</code></summary>
<pre>
HTTP/1.1 200 OK
Server: Cowboy
Connection: keep-alive
Date: Thu, 16 Feb 2017 02:53:05 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 105572
Etag: W/"d284186eac6171a61f3fefee2f6a4d0b"
Cache-Control: max-age=0, private, mus

[2017-02-16 06:48] konklone commented on #8
@sighmon One `Failed to connect` message is normal. If you look at the JSON results, you'll see that it did successfully connect to `https://digital.newint.com.au` and properly noted the HTTPS URL as the canonical URL.

[2017-02-16 06:49] konklone commented on #8
@QuarantineENG You don't want to use `--preload-cache`, that's an advanced option to avoid downloading the preload list on each request. You want to just do `pshtt input.csv --output=output.csv`.

[2017-02-16 13:08] QuarantineENG opened #57 "'str' object has no attribute 'custom_ca_file"
Traceback (most recent call last):
  File "/usr/bin/pshtt", line 9, in <module>
    load_entry_point('pshtt==0.1.5', 'console_scripts', 'pshtt')()
  File "/usr/lib/python2.7/site-packages/pshtt/cli.py", line 54, in main
    results = pshtt.inspect_domains(domains, options)
  File "/usr/lib/python2.7/site-packages/pshtt/pshtt.py", line 873, in inspect_domains
    preload_list = create_preload_list(

[2017-02-16 13:26] QuarantineENG commented on #57
I believe I may have fixed this by performing this command;  export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-bundle.crt

[2017-02-16 13:29] QuarantineENG commented on #57
Is this caused by a SSL cert issue;
COMODO ECC Domain Validation Secure Server CA 2'),))}
Traceback (most recent call last):
  File "/usr/bin/pshtt", line 9, in <module>
    load_entry_point('pshtt==0.1.5', 'console_scripts', 'pshtt')()
  File "/usr/lib/python2.7/site-packages/pshtt/cli.py", line 54, in main
    results = pshtt.inspect_domains(domains, options)
  File "/usr/lib/python2.7/site-pack

[2017-02-16 13:39] QuarantineENG commented on #57
Here is another run at it;
Failed to connect.
Traceback (most recent call last):
  File "/usr/bin/pshtt", line 9, in <module>
    load_entry_point('pshtt==0.1.5', 'console_scripts', 'pshtt')()
  File "/usr/lib/python2.7/site-packages/pshtt/cli.py", line 54, in main
    results = pshtt.inspect_domains(domains, options)
  File "/usr/lib/python2.7/site-packages/pshtt/pshtt.py", line 882, in inspect_d

[2017-02-16 17:10] konklone commented on #57
What command did you run? Can you provide us a hostname that reproduces
this?

-- Eric

On Feb 16, 2017 3:39 PM, "QuarantineENG" <notifications@github.com> wrote:

[2017-02-16 17:26] fishouttah20 commented on #57
I'm seeing a similar error on analytics.uk.barclays (and yes there is a mismatched cert).

[2017-02-16 23:31] konklone commented on #57
@QuarantineENG Is every single command `pshtt www.state.gov`? Are you trying other domains, other flags?

It looks like you have a strange root store situation on the box you're running this from, but I would like to handle this situation more gracefully than a stack trace.

[2017-02-23 15:26] QuarantineENG commented on #57
I have had to compile a list from our DNS dump and then some other sources. I have over 2k different URLS to check both external and internal. I am having issues with it failing when reading from the *.cvs file where I placed all of the IPs and URLs.

[2017-02-23 16:31] h-m-f-t commented on #57
@QuarantineENG, there's not enough information in what you've provided to really troubleshoot this.

If you would like, you may send me what you have at cameron.dixon@hq.dhs.gov and I can take a look.

[2017-02-24 08:55] QuarantineENG commented on #57
Will do

[2017-03-03 12:06] QuarantineENG commented on #57
This is still dead in the water. I have tried the following listed below;

install gcc libffi-devel python-devel and openssl-devel
pip install cryptography
pip install requests[security]

re-ran pshtt - received error below still

Traceback (most recent call last):
  File "/usr/bin/pshtt", line 9, in <module>
    load_entry_point('pshtt==0.1.5', 'console_scripts', 'pshtt')()
  File "/usr/lib/pytho

[2017-03-10 16:18] h-m-f-t commented on #57
Closing for now. @QuarantineENG indicated offline that the Fedora environment he's been provided may have him hamstrung at the moment. pshtt ought to work in RHEL variants, though I've not personally tested.

[2017-03-13 20:00] jsha opened #58 "Incorrect "Valid HTTPS" results for amazonaws.com?"
amazonaws.com doesn't support HTTPS, but its HTTP version redirects eventually to https://aws.amazon.com. I believe this should be labeled as "Valid HTTPS" according to the rules in the README, but when I run pshtt I get "Valid HTTPS": false.

[code]

[
  {
    "Base Domain": "amazonaws.com",
    "Canonical URL": "http://amazonaws.com",
    "Defaults to HTTPS": false,
    "Domain": "amazonaws.com"

[2017-03-14 16:53] konklone commented on #58
This is intended behavior, so perhaps we should make the README more clear. The README right now says:

The canonical hostname only refers to the canonical endpoint on the original domain. So if you're scanning `amazonaws.com`, the canonical hostname can only be `amazonaws.com` or `www.amazonaws.com`.

One of the goals of measuring `Valid HTTPS`, for an SLD or any of its subdomains, is to identify

[2017-03-14 20:19] jsha commented on #58
Ah, yes, I was confused by:

But now I see the difference between "URL" vs "hostname." Maybe just delete "at its canonical hostname" from the "Valid HTTPS" definition?

[2017-03-14 20:40] konklone commented on #58
It's the other way around - `Canonical URL` is a judgment call based on the observed **internal** redirect logic of the domain.

For `example.com`, the `Canonical URL` can have one of four values:

* http://example.com
* https://example.com
* http://www.example.com
* https://www.example.com

It can get slightly confusing when talking about canonical endpoints, because there are actually two calcul

[2017-03-14 20:57] jsha commented on #58
Looking at it again, I realize I was misunderstanding "Canonical URL." Intuitively I think the canonical URL for `amazonaws.com` is `https://aws.amazon.com`. But since Canonical URL can only encompass www/non-www varianets, that's not the Canonical URL and instead it's the domain itself. Maybe this:

Should say:

[2017-03-14 20:59] konklone commented on #58
Those are good edits!

And I can understand why the definition might not feel intuitive. The best way I can frame the rationale is -

* Valid HTTPS - "If I preloaded the domain, would this break?"
* Canonical URL - "If I were to [hyperlink](https://pulse.cio.gov/https/domains/) `example.com`, what should the `href` attribute of the link be?"

[2017-03-15 01:12] #58 closed

[2017-03-21 16:10] QuarantineENG opened #64 "Debian 8 - PIP error trying to install pshtt"
If I use pip or pip3 this errors out on me when trying to install pshtt.

Running setup.py (path:/tmp/pip-build-wdme68eo/nassl/setup.py) egg_info for package nassl
    Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/tmp/pip-build-wdme68eo/nassl/setup.py", line 67, in <module>
        OPENSSL_LIB_INSTALL_PATH = OPENSSL_INSTALL_PATH_DICT[CURRENT_PLATFORM]

[2017-03-21 20:04] konklone commented on #64
For now, pshtt still requires Python 2. See https://github.com/dhs-ncats/pshtt/issues/4 for the relevant issue.

[2017-03-22 12:49] QuarantineENG commented on #4
FYI tried installing pshtt on CentOs 7

[root@secengcentos7 /]# yum install curl
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
 * base: centos.mirror.nac.net
 * extras: linux.cc.lehigh.edu
 * updates: mirrors.mit.edu
Package curl-7.29.0-35.el7.centos.x86_64 already installed and latest version
Nothing to do
[root@secengcentos7 /]# curl "https://bootstrap.pypa.

[2017-03-22 13:42] konklone commented on #4
Looks like you need to install gcc. However, this isn't related to Python version support, so if you continue to have issues, please use another ticket.

[2017-03-23 12:28] QuarantineENG commented on #4
Okay, I will have to do that after receiving the error I did on a fresh install and installing/updating all the gcc packages on the debian server.

[2017-03-23 13:14] QuarantineENG commented on #4
I had to run - apt-get install build-essential libssl-dev libffi-dev python-dev and then run pip install pshtt to install it.

fresh install of debian 8
apt-get update
apt-get upgrade
python -V
wget https://bootstrap.pypa.io/get-pip.py
python get-pip.py
apt-get install gcc*
apt-get upgrade
reboot -n
apt-get install build-essential libssl-dev libffi-dev python-dev
pip install pshtt

I need to get t

[2017-03-23 13:32] garrettr commented on #4
@QuarantineENG Please create another issue for the issues you encountered trying to install pshtt on CentOS 7. This issue is about adding Python 3 support to pshtt, so it is not an appropriate place for you to comment about the recent issues you encountered while installing the current version of pshtt on CentOS.

[2017-03-23 14:44] #64 closed

[2017-03-23 14:44] konklone commented on #64
Closing since we identified the issue as needing Python 2.

[2017-03-24 11:13] QuarantineENG commented on #57
I have installed it on Debian with the following;
fresh install of debian 8
apt-get update
apt-get upgrade
python -V
wget https://bootstrap.pypa.io/get-pip.py
python get-pip.py
apt-get install gcc*
apt-get upgrade
reboot -n
apt-get install build-essential libssl-dev libffi-dev python-dev
pip install pshtt
pip install deptree

 pshtt===0.15
   docopt 0.6.2
   request 2.13.0
   requests-cache 0.4.13

[2017-03-30 23:35] egyptiankarim opened #66 "Logic issue with is_redirect method"
The way is_redirect is currently written, a domain will get flagged as a redirect if all endpoints are down or otherwise code 400-ing. For example, imagine domain.tld, which only has its https endpoint up and happens to be returning for a 404 for its index. That will return `true` for is_redirect, which is confusing (and happening a bunch where I am).

I'm curious if that whole logic block can be

[2017-04-05 16:41] fishouttah20 opened #68 "Crash on AttributeError or LocationValueError"
When scanning ecommerce.barclays.com I see two different possible crashes, seemingly at random:

[code]

[code]

[2017-04-13 19:36] h-m-f-t commented on #57
Had several people report `AttributeError: 'str' object has no attribute 'custom_ca_file'`, who aren't intending to specify a custom_ca_file. Reopening.

[2017-04-13 20:41] mmclean636jr commented on #57
Can you please point me to a solution or workaround for this?

I'm assuming that the prescribed instance needs a custom CA input but how/where should I begin?

**https@ubuntu:~/PSHTT_Tool/RESULTS$ pshtt -d ahu.ndc.nasa.gov**
Fetching Chrome preload list from source...
Starting new HTTPS connection (1): chromium.googlesource.com
https://chromium.googlesource.com:443 "GET /chromium/src/net/+/master/

[2017-05-15 14:37] konklone commented on #66
From #67:

[code]

I closed #67, and am moving the proposed resolution here for tracking.

[2017-05-23 16:46] redshiftzero opened #71 "AttributeError thrown when there is a hostname validation error"
Hit an unhandled exception while scanning `cbc.ca`:

[code]

[2017-05-24 17:23] h-m-f-t commented on #71
Heyo @redshiftzero. Are you using the latest version in the repo or pip?

Here's my output with 0.1.6 in master:
[code]

[2017-06-01 21:01] IanLee1521 opened #72 "Change License to MIT?"
Would it be possible to change the license for external (non-Federal Employee) contributions to an MIT (or other open source license)?

I've recently encountered an issue where @LLNL isn't able to allow me to contribute as part of my work due to the CC0 provisions around "waiving copyright", which it can't / won't do.

MIT is the license used in, at least, https://github.com/deptofdefense/anet whi

[2017-06-02 05:26] IanLee1521 commented on #54
I think I might have stumbled upon a way to reproduce this, or something very similar as I was working on my new github.com/llnl/hscs repo.

In the el7/ directory in that repo is a Vagrantfile to spin up a CentOS 7 + Apache 2.4 configuration (it's still a work in progress and I need to document things in the readme a bit better still). If you then try to scan the system (I have my local ``/etc/hos

[2017-06-05 04:18] konklone commented on #66
Just noting for myself and others that this is still an issue, and affects at least one second-level domain in exim.gov:

https://s3-us-gov-west-1.amazonaws.com/cg-4adefb86-dadb-4ecf-be3e-f1c7b4f6d084/live/cache/pshtt/exim.gov.json

[2017-06-06 07:34] garrettr commented on #4
For what it's worth, SSLyze now has Python 3 support! See https://github.com/nabla-c0d3/sslyze/pull/203.

[2017-06-09 11:54] Kaplan89 opened #73 "Installation on Raspberry Pi 3... big headache"
I'm trying to install pshtt on the Raspberry Pi 3, after numerous errors which I have fixed over time, I am only stuck with the following one. Building the wheel for **nassl** (necessary package for pshtt) simply does not succeed, _probably_ because **nassl** does not support ARM processors.

Is there a way to replace **nassl** by something else during the **pshtt** installation?

The problem is m

[2017-06-11 23:59] konklone commented on #4
I have some beginning work on porting pshtt to Python 3 here:

https://github.com/dhs-ncats/pshtt/compare/python3-support

I'll see if I can wrap this up soon!

[2017-06-12 00:00] konklone commented on #73
So it looks like you're using Python 3, which the `master` branch here (and what's in `pip`) doesn't support. I'm working on Python 3 support here:

https://github.com/dhs-ncats/pshtt/compare/python3-support

Could you try that branch and let us know how it goes?

[2017-06-12 00:04] konklone commented on #73
To be clear, there's still a bug on that branch preventing execution of `pshtt`. But, I'd like to see if installation of `pshtt` is successful.

[2017-06-12 00:27] konklone commented on #4
I'm now able to get it to now fully scan a domain in Python 3, and filed #74 with a PR for review.

[2017-07-03 22:59] h-m-f-t commented on #4
Fixed in #74.

[2017-07-03 22:59] #4 closed

[2017-07-06 05:28] IanLee1521 commented on #72
Any thoughts about this idea?

[2017-07-12 19:22] IanLee1521 opened #78 "Exception if redirect with no 'Location' header"
Working on compliance for lc-idm.llnl.gov I ran into an issue where if the server returns a 3xx (redirect) status, but NOT a 'Location' header, it causes an exception. Adding this check works around that.

The exception is thrown by: https://github.com/dhs-ncats/pshtt/blob/master/pshtt/pshtt.py#L206

A possible fix I have locally is to update the `endpoint.redirect` determination here: https://git

[2017-07-15 22:58] #78 closed

[2017-07-21 06:13] h-m-f-t commented on #8
Fixed via #77

[2017-07-21 06:13] #8 closed

[2017-07-21 06:19] h-m-f-t commented on #57
I'm pretty certain this was when the requirements.txt was pulling in the latest versions of sslyze but pshtt wasn't following the changed syntax (this was predominantly fixed via #74). I can longer recreate this issue.

[2017-07-21 06:19] #57 closed

[2017-07-23 22:58] konklone opened #84 "Cache HSTS preload pending list"
No reason not to cache the HSTS preload pending call, since it's a third party call that downstream clients performing batching would reasonably be fine relying on a snapshot of during batched processing.

Filing another issue to address the cache/flag glut that this would create.

[2017-07-23 22:59] konklone opened #85 "Combine caching of HSTS preload, pending, and PSL into one command"
I think it's unlikely that a user would ever want to cache only the PSL but not the HSTS preload list, or vice versa. I think that in general, users of any of those options likely want to use all of them -- in other words, they're comfortable using the same frozen state of 3rd party sources during the extent of a bulk scan.

Keeping the individual options is fine, but I think it'd be useful to hav

[2017-07-25 13:22] IanLee1521 opened #87 "requirements.txt error"
Relates to a comment I left on one of the recent pull requests, but the `requirements.txt` file actually has an error if you try to install it:

[code]

I would recommend changing it to simply ``pyopenssl`` without the pinned version.

/cc @konklone

[2017-07-25 13:54] IanLee1521 opened #88 "Add Python 3.6 classifier"
I've been using / testing pshtt with Python 3.6 and haven't had any issues. We should update the setup.py classifier list at:

https://github.com/dhs-ncats/pshtt/blob/9ec891f0cbd4865d668309900d782b4030c4572c/setup.py#L50

[2017-07-27 01:51] IanLee1521 opened #89 "HSTS Calculation not on final url"
I mentioned some of the set up to this problem in the TTS #https-partner-support Slack channel, but the long and the short of the issue is that in https://github.com/dhs-ncats/pshtt/blob/00ff246f40acbea185d478d838c7fcd6652b9aa8/pshtt/pshtt.py#L80 the check is being done on "not the final https URL" as best I can tell (possibly it's actually randomly doing this...).

So for instance, as I'm looking

[2017-07-27 02:03] konklone commented on #89
FWIW, this is currently understood behavior, and was intended when it was shipped. So this is more of a feature request than a bug report.

That said, this request has come in a fair amount, especially since SSL Labs started factoring in redirects when calculating HSTS support. I think it's a reasonable request, as long as it's not hugely complicating logic.

@h-m-f-t What do you think?

[2017-07-27 02:17] IanLee1521 commented on #89
Good to know. I guess then the question becomes (if this isn't a feature to be added) what is the preferred way to resolve this?

Would it simply be to have every HTTPS url in the chain all be HSTS? I suppose that makes a certain amount of sense, just isn't what I was expecting. Maybe we could do something like add a warning or something to denote it as a concern?

[2017-07-27 02:28] konklone commented on #89
So far, we've pushed folks to have the HSTS header on the root path (`/`), which should get HSTS marked as a True in `pshtt` today.

[2017-07-27 02:37] IanLee1521 commented on #72
Alternate suggestion from internal, would I be able to contribute code that was itself covered by an MIT license? Perhaps with some sort of addendum in the license like: "Contributions from @IanLee1521 aka lee1001@llnl.gov are contributed under an MIT license" ?

[2017-07-27 02:38] IanLee1521 commented on #89
Sounds good, let me check to see if we can do that in these cases...

[2017-07-27 02:45] h-m-f-t commented on #89
@IanLee1521 Thanks for filing this issue (and others). I promise we're not ignoring #72.

I'm sympathetic to your request, and it's definitely one NCATS hears with some frequency. My understanding is that once seen by a browser, HSTS, whether seen initially on `example.gov` or `example.gov/program` will be protective across the entire base domain.

From the vantage point of a centralized scanning

[2017-07-27 02:54] konklone commented on #72
It's possible to dual-license projects or to use mixed-license code. I think the issue is really more that that defeats (some of) the purpose of using CC0 for the project, which is to give downstream users a completely and unambiguously clear copyright and attribution situation. Even one exception means that, suddenly, downstream users are technically obligated to maintain attribution for that exc

[2017-07-27 02:55] IanLee1521 commented on #89
Understood. Thanks for the explanation.

FWIW, partially this was me being in the middle of our internal folks making the changes and my running the tool. And the case of SSL Labs vs pshtt (vs curl as I understand it) was what seemed to be causing the confusion.

I've gone ahead and pointed our internal folks here to this thread for the context, and asked that they make the change to the root endp

[2017-07-27 02:58] IanLee1521 commented on #72
Understood. It also doesn't do anything for any of the other USG CC0 projects out there either, and it would be pretty unlikely in my mind that all would be willing (or able) to dual-license.

[2017-07-30 02:41] konklone commented on #87
Fixed by #90.

[2017-07-30 02:41] #87 closed

[2017-07-30 02:44] konklone commented on #88
Agreed, and confirmed that Python 3.6.1 works fine.

@h-m-f-t has been handling the PyPi-related work and changes, I'll defer to him for :+1: and implementation.

[2017-08-03 01:26] IanLee1521 opened #94 "pyopenssl missing from setup.py"
Hi all --

When the `requirements.txt` file was updated in #87 , it looks like `pyopenssl` didn't get added to the `setup.py` file (https://github.com/dhs-ncats/pshtt/blob/445d26b93f0d4e2679bb6da8a2832495869c57f7/setup.py#L58)

[2017-08-04 16:14] #88 closed

[2017-08-05 20:02] h-m-f-t commented on #94
Thanks @IanLee1521!

[2017-08-05 20:02] #94 closed

[2017-08-19 05:16] konklone opened #99 "Being nicer to hstspreload.org, chromium.googlesource.com, and publicsuffix.org"
The `pshtt` tool now hits 3 external endpoints per-scan:

1. `hstspreload.org` for the Preload Pending status
2. `chromium.googlesource.com` for the Preloaded status
3. `publicsuffix.org` to incorporate Public Suffix checking into calculation of the "parent domain"

I've gotten reports from @lgarron that hstspreload.org is getting hit really hard by what are apparently large batches of `pshtt` run

[2017-08-23 19:17] lgarron commented on #99
Would you feel comfortable using an `$XDG_CACHE` subfolder as a default (configurable) cache location, and providing only a flag to *disable* that cache?

[2017-08-24 17:37] konklone commented on #84
Closing in favor of #99.

[2017-08-24 17:37] #84 closed

[2017-08-24 17:40] konklone commented on #85
Closing in favor of #99.

[2017-08-24 17:40] #85 closed

[2017-08-24 17:41] konklone commented on #99
Noting that I'd actually opened #84 and #85 a month ago to address some aspects of this, though neither talked about caching by default. Moving all the conversation here.

[2017-08-25 16:22] konklone commented on #71
Closing, but feel free to re-open if you can answer @h-m-f-t's question and can reproduce the issue.

[2017-08-25 16:22] #71 closed

[2017-08-25 16:23] konklone commented on #68
Apologies for dropping this, @fishouttah20 - is this still a reproducible issue for you? Is it only when using Docker?

[2017-08-25 16:24] konklone commented on #56
Closing, since it was an A/B test and inconsistent server behavior. :+1:

[2017-08-25 16:24] #56 closed

[2017-08-25 16:25] konklone commented on #73
To follow up - Python 3 support is now merged and working as of #74.

Is this still an issue on RPi?

[2017-08-25 16:26] konklone commented on #54
Closing without a reproducible public hostname to measure this on. @egyptiankarim if this is still an issue, please feel free to re-open with an example.

[2017-08-25 16:30] #20 closed

[2017-08-25 16:30] konklone commented on #20
I don't think this occurs anymore.

[2017-08-25 16:31] konklone commented on #25
This remains a great idea, if we can somehow distinguish those things. I think it means going beyond `sslyze`'s STDOUT output and digging into the (new) Python API in some way.

[2017-08-25 16:35] konklone commented on #33
Fixed by #76.

[2017-08-25 16:35] #33 closed

[2017-08-25 16:35] konklone commented on #46
Not enough information to reproduce.

[2017-08-25 16:35] #46 closed

[2017-08-25 18:31] egyptiankarim commented on #54
Gah! Sorry. This fell off my todo list. Here're a few annotated examples I dug up:

* mobile.neacc.nasa.gov - Nmap shows only 443 is listening; queries to the HTTP endpoint timeout; queries to the HTTPS endpoint resolve after some time; pshtt shows "Live = False"; pshtt shows "Canonical URL = **http://**mobile.neacc.nasa.gov"; I believe this is a pshtt timeout issue in that it's counting the targe

[2017-08-25 18:35] konklone commented on #54
Thank you, we can work with that!

[2017-08-25 19:31] afeld opened #102 "clarify use of CSV file for input"
Per @h-m-f-t:

[2017-09-07 18:53] conorsch opened #105 "Version information varies widely"
Determining which version of `pshtt` one is running can be difficult. For example:

[code]

The `--version` flag displays `v0.0.1`, `pip` thinks it's 0.2.3, and setup.py thinks it's 0.2.2. Let's resolve this madness. We should have a single version submitted everywhere. I'll open a PR to standardize on 0.2.3 in all three locations immediately.

[2017-09-07 18:58] h-m-f-t commented on #105
@conorsch 👍 , and agreed. Go forth.

[2017-09-08 15:30] IanLee1521 commented on #72
Since I've currently found a path to contributing through DOE / LLNL, I'm going to go ahead and close this as no longer needed.

[2017-09-08 15:30] #72 closed

[2017-09-17 23:19] #105 closed

[2017-09-18 22:21] IanLee1521 opened #111 "Tag released versions"
We should make sure to tag the released versions in the git repo to ensure we know what has gotten released.

For instance, do we know for sure what commit s responsible for: https://pypi.python.org/pypi/pshtt/0.2.3 ?

[2017-09-29 18:53] IanLee1521 opened #117 "Add code coverage GitHub integration"
https://coveralls.io

Related to my work in: https://github.com/ianlee1521/pshtt/tree/test-framework

[2017-09-29 19:28] IanLee1521 commented on #117
Hmm. Or maybe codecov.io would be better?

https://www.slant.co/improve/versus/7928/7929/~coveralls_vs_codecov

[2017-09-30 03:03] IanLee1521 commented on #117
Example in that fork where I just got this to track the results: https://coveralls.io/github/IanLee1521/pshtt

[2017-09-30 22:46] IanLee1521 commented on #117
Defer to @h-m-f-t, as enabling this requires repository admin rights.

[2017-10-06 17:26] IanLee1521 commented on #99
One thought, discussed today on a call, is to modify those other tools (e.g. `domain-scan`) to use `pshtt` as a library, rather than as an external dependency.

That should allow the same in-memory caching that `pshtt` does natively when running on multiple domains to be leveraged by `domain-scan`.

[2017-10-17 21:26] IanLee1521 opened #124 "Release new version (0.3.0) to PyPI"
This relates to #111 and #123 .

It's been a while since we've pushed a new version to PyPI. I believe this is on @h-m-f-t 's radar already, but this logs it explicitly.

[2017-10-19 20:39] h-m-f-t commented on #117
Resolved with #119.

[2017-10-19 20:39] #117 closed

[2017-10-21 04:01] IanLee1521 commented on #68
Hi @fishouttah20 -- I don't think this is reproducible anymore (in fact, in the second example, the code has changed quite a bit, and that `hostname.split(...)` line doesn't exist anymore.

I'm going to go ahead and close this for now, but if you're still having issues, please open a new ticket, and we'll take a look!

[2017-10-21 04:01] #68 closed

[2017-10-24 12:40] h-m-f-t commented on #124
Complete: https://pypi.python.org/pypi/pshtt/0.3.0

[2017-10-24 12:40] #124 closed

[2017-10-24 19:06] #28 closed

[2017-11-05 03:19] konklone commented on #85
See #131, which tackles this.

[2017-11-05 03:20] konklone commented on #84
This is being tackled in #131.

[2017-11-05 09:12] konklone opened #132 "Remove requests_cache from requirements"
It's unused, and brings along gnarly things like sqlite dependencies.

[2017-11-05 10:04] konklone opened #133 "Move utils.format_domains call into main pshtt lib"
Instead of just doing it in the CLI. Currently, non-CLI uses of pshtt are forced to remember to call the function themselves in order to get the same level of sanitization.

[2017-11-06 05:02] konklone opened #134 "Drop specific point version pins in requirements.txt"
We're falling behind, and currently are effectively pinned to `cryptography` 1.9, and are not able to go to 2.1. I think it's worth considering a dependency strategy that relies on semantic versioning, since this comes up a lot.

[2017-11-07 18:45] #99 closed

[2017-11-11 05:13] konklone commented on #134
Unfortunately, it's `sslyze` that's stuck on `cryptography` 1.9:

https://github.com/nabla-c0d3/sslyze/blob/master/requirements.txt

[2017-11-14 18:34] refayathaque opened #137 "Cannot install using pip on Mac High Sierra"
Error message -

Exception:
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg/pip/commands/install.py", line 342, in run
    prefix=options.prefix_path,
  File "/Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg/

[2017-11-14 18:50] refayathaque commented on #137
Fixed! Just had to install the LATEST version of Python 2.7! Thanks! Looking forward to exploring this cool library! 🥇

[2017-11-14 20:32] h-m-f-t commented on #137
Glad you fixed this, @refayathaque!

[2017-11-14 20:32] #137 closed

[2017-11-15 21:47] jsf9k opened #138 "Hanging on domains whose page load can never complete"
`pshtt` hangs on domains like [lrostk.gsfc.nasa.gov](https://lrostk.gsfc.nasa.gov) and [gs-444-lrostk.gsfc.nasa.gov](https://gs-444-lrostk.gsfc.nasa.gov) where it can connect and bytes keep coming, but the page will never complete loading.  These particular pages load a single image of MIME type `multipart/x-mixed-replace`, which is a stream that never completes.

[2017-11-15 21:49] jsf9k commented on #138
This can probably be fixed by making use of [streaming requests](http://docs.python-requests.org/en/master/user/advanced/#streaming-requests) inside the `ping` method of `pshtt.py`.  I will create a pull request for this issue.

[2017-11-19 22:18] #138 closed

[2017-11-19 22:22] konklone commented on #138
Fixed by #140.

[2017-11-28 22:48] egyptiankarim opened #142 "Docker Breaks During Builds"
ae5f2e2f15f61704849955f3c8744cf8fc5e0c3d breaks the Docker build:

[code]

The operating assumption for the python:3.5-onbuild is that requirements.txt will contain all dependencies, so the build triggers see this and die. I think we fix this with a change in Docker image tag and a few tweaks to the Dockerfile (#141).

[2017-11-29 00:09] jsf9k commented on #142
I can fix this tonight. Good catch!

[2017-11-29 17:15] jsf9k commented on #142
Fixed via pull request #141.

[2017-11-29 17:15] #142 closed

[2017-11-30 22:42] egyptiankarim opened #144 "Small Docker Bug"
Gah! Sorry. I missed this in my review of #141, yesterday.

In `Dockerfile`, line 15:

[code]

We're missing the variable expansion operator, which results in setting the working directory to one where we (i.e., `pshtt:pshtt`) doesn't have file permissions to write to `pshtt` output files. We get a permission error.

I'm submitting a pull request (#143) to fix the mistake, do a little cleanup, add

[2017-12-01 02:20] #144 closed

[2017-12-02 02:51] egyptiankarim commented on #134
Has this finally caught up to us in a big bad way? I think so.

[code]

From [pyOpenSSL](https://pypi.python.org/pypi/pyOpenSSL):

Do we want to modify `setup.py` to lock to an older version of pyOpenSSL until we work out a better way to manage dependencies?

[2017-12-02 03:12] egyptiankarim commented on #134
Pertinent SSLyze issue: [Update cryptography to latest version #262](https://github.com/nabla-c0d3/sslyze/issues/262)

[2017-12-02 18:30] egyptiankarim commented on #134
Okay. This should fix our immediate issues: [Version bumped cryptography dependency. #263](https://github.com/nabla-c0d3/sslyze/pull/263). Although, we may still need to think about how we handle dependencies.

[2017-12-02 23:48] jsf9k commented on #134
Nice work, @egyptiankarim!

[2017-12-06 23:05] jsf9k commented on #134
@egyptiankarim, has your fix for `sslyze` hit PyPI yet?  I think I may be seeing a similar bug in a Docker container I have that installs both `domain-scan` and `pshtt` from their respective GitHub repos.  I *don not* see this problem with an analogous container that installs both `domain-scan` and `trustymail`.  Here is where the problematic container is trying to call `domain-scan/gather url --s

[2017-12-07 14:57] egyptiankarim commented on #134
For the record: To manage my local work, I've just stashed a set of version locks in `setup.py` that allow me to build and run clean with Docker. I'm not sure if that'll work for your use cases, but it's what I had to do.

What does the team think about maybe setting up pshtt to have an "operations" branch and a "development" branch? We can tightly version lock operations in terms of dependencies,

[2017-12-07 16:18] jsf9k commented on #134
Thanks for the information, @egyptiankarim.  Can you paste your `setup.py` in this issue (or create a new one) so I can see what is involved?  I'm probably OK with locking `master` down.

[2017-12-07 18:21] conorsch commented on #134
Great idea on locking master and switching to a git-flow-like branching strategy.

As for managing the dependencies, consider `pip-compile` (from the `pip-tools`) package. You'd create a `requirements.in` file that tracks version pinning, then generate a `requirements.txt` with dependencies fully resolved and explicit versions pinned. Something like:

[code]

Switching to `pip-compile` doesn't sol

[2017-12-08 13:33] egyptiankarim commented on #134
@conorsch I like that idea in theory. But does that conflict with the way we have `setup.py` working, though? I'm trying to follow the conversation on [jazzband/pip-tools#418](https://github.com/jazzband/pip-tools/pull/418) and I'm struggling to understand how these pieces are intended to fit together. Rough sketch, I guess the idiomatic argument is that "applications" are meant to do dependency m

[2017-12-08 14:20] egyptiankarim commented on #134
As promised:

- Flexible Dependencies for Development #146
- Version Pinning for "Operational" *master* Branch #145

[2017-12-08 14:42] jsf9k commented on #134
Really, if `sslyze` would just release a new version to PyPI I think that would fix my problem. :neutral_face:

I still think there is value in setting versions appropriately in `master` and `develop`, but the `dependency_links` stuff I did in 0a1c2c03094d968186dde7debe1bcdf88e087e2c is just a hack until a new version of `sslyze` hits PyPI.

[2017-12-08 17:35] jsf9k commented on #134
I was eventually able to fix my particular problem by installing the `master` branch of `sslyze` in my Docker container _before_ I install `domain-scan` or `pshtt`:
[code]

[2017-12-08 22:08] jsf9k commented on #132
@konklone, I think you already did this in a9e575c682b18d1b7dd61eb79823c8d9c8ffce52.

[2017-12-08 22:08] #132 closed

[2017-12-27 19:04] egyptiankarim commented on #134
I lost track of this for a while, but it looks like the last few [published releases](https://pypi.python.org/pypi/SSLyze) of `sslyze` (>= 1.2.0) all include the version bumped `cryptography` dependencies that originally broke things for us.

[2017-12-27 20:32] jsf9k commented on #134
Thanks for the update, @egyptiankarim.  Since this discussion I've been forcing `pip` to install `sslyze` from the GitHub `develop` branch, so it's good to know I don't need to do that any longer.

[2018-01-11 23:38] fpietrosanti opened #148 "Provide a rating A+ up to F as a simplified selection"
It would be very useful to have a simplified rating from A+ up to F as one of the output of pshtt, in order to have a simplified metrics for proper website comparison

[2018-01-12 19:06] refayathaque opened #149 "'Valid HTTPS' key-value inconsistent across platforms"
We are utilizing the pshtt module to determine M-15-13 compliance for certain websites. We are running pshtt off of a python script that is invoking the 'inspect_domains' method to get all relevant results. As part of our testing we have been running the same method in multiple places, namely our local machine and our cloud instances (the pshtt versions are the same on both), additionally, we are

[2018-01-14 20:49] konklone commented on #148
I agree that this would be useful -- but I think there are two big issues here compared to something like SSL Labs:

* Maintenance over time. One of the things that makes SSL Labs so powerful is that it raises its standards each year as the world changes, while always keeping an A/A+ an achievable grade.

* Pshtt only looks at a few things, really -- it's an HTTP/HTTPS/HSTS behavior analyzer. It d

[2018-01-14 23:21] konklone commented on #149
Running off of the CLI (`pshtt --version` says `0.3.0`) with _either_ `worklife4you.com` or `www.worklife4you.com` gives me a `null` value in the resulting JSON,

[code]

[code]

Though when I use the CLI and have it output in CSV mode, I get `False` for the `Valid HTTPS` column:

[code]

[code]

When running this from the Python API in `ipython` (where `pshtt.__version__` says `0.3.0`), I get a v

[2018-01-14 23:28] konklone commented on #149
@refayathaque Given this, I think you're seeing two issues:

* The `None`/`False` distinction is because in 0.3.0, `None` only gets turned into `False` right before CSV serialization. This is fixed in the repository version. It's likely a good time for @h-m-f-t to publish an update to PyPi, but you can also fix this locally by pulling from the git repository (which I do).

* `Valid HTTPS` is false

[2018-01-15 15:49] jsf9k commented on #149
@refayathaque You are probably already aware of this, but you can install from the GitHub repo via pip like this:
[code]

Thanks to @konklone for investigating this issue!

[2018-01-16 09:21] fpietrosanti commented on #148
@konklone i see your point, but at current stage we already have multiple-rating scheme such as:
- SSL Labs
- Mozilla HTTP Observatory

Where SSL Labs gives A+, Mozilla HTTP Observatory can gives D.

So, it would be nice to have also pshtt gives a simplified rating, because independent parties may just get multiple rating from multiple-tools and exposed that.

The outcome of having multiple rating

[2018-01-16 14:50] h-m-f-t commented on #148
Thanks for your comments, @fpietrosanti.

I'm in alignment with you regarding an approach that summarizes key elements of security simply so that an operator can improve things. But @konklone's comment about "maintenance over time" in particular is the thing that makes your suggestion onerous for us to implement. [SSL Labs and co.](https://twitter.com/ivanristic/status/946470597571371008) do an ex

[2018-01-16 14:50] #148 closed

[2018-01-20 07:44] captn3m0 opened #150 "Killed before writing to markdown"
I'm running pshtt against a file with ~13k domains. These are the final lines of the debug output:
[code]

The invocation was:

`pshtt  domains.csv --markdown --debug --cache  --output output.md`

The `output.md` file is empty. I've tried running on shorter domain lists and it works fine (No `Killed` in output, and the file is generated correctly).

[2018-01-26 21:11] jsf9k commented on #149
@refayathaque, are you still seeing this issue with the latest code from `develop`?

[2018-02-06 19:53] captn3m0 commented on #150
You can download the raw CSV file from https://git.captnemo.in/nemo/pulse/ (`domains.csv`)

[2018-02-09 03:45] erm161 opened #151 "Confirming SPF for Guideline.gov"
I am writing to inquire why SPF is not being recognized for guideline.gov. Thank you for your time.

[2018-02-09 11:34] h-m-f-t commented on #151
Hi @erm161. pshtt doesn't scan for SPF or email-related records, but our [trustymail](https://github.com/dhs-ncats/trustymail/) tool does.

There was a recent discussion in the trustymail issues about your domain, so do check out https://github.com/dhs-ncats/trustymail/issues/39.

[2018-02-09 11:34] #151 closed

[2018-02-11 03:32] konklone commented on #150
@captn3m0 This isn't quite enough information to debug the problem. The word "Killed" is never outputted by any of our code. One possibility is that your system may be running out of memory to process the entire list.

You could try out https://github.com/18F/domain-scan as an alternative parallelizer for `pshtt`, that makes use of Python 3 concurrency primitives to manage a rolling pool of thread

[2018-02-11 03:32] #150 closed

[2018-02-12 17:39] refayathaque commented on #149
Hi @jsf9k apologies but I wasn't notified when you and @konklone began to respond to my inquiry. I was only made aware of this over the weekend by a colleague. Thank you so much for your help, let me run the tests you two have recommended, and then I'll get back to you. @jsf9k I actually wasn't aware that you can do pip installs directly off of github, that's quite neat, I'll definitely need to tr

[2018-02-12 18:52] jsf9k commented on #149
@refayathaque, no worries.

Regarding running in AWS Lambda, if you want to run `pshtt` via [`18F/domain-scan`](https://github.com/18F/domain-scan) then you can leverage the Lambda work that @konklone has already done.  You may also find [`dhs-ncats/lambda_functions`](https://github.com/dhs-ncats/lambda_functions) useful if you need to build fresher Lambda zip files that what is committed to `18F/

[2018-02-22 16:13] refayathaque commented on #149
@konklone getting back to you with the JSON objects you asked for.

The first is from our Lambda function running the pshtt scan (FYI we are NOT running `pshtt www.worklife4you.com -d -j` but we are running `pshtt_results = pshtt.inspect_domains([url], {})[0]` where `url` would be `www.worklife4you.com`)

`"Pshtt": {
      "Base Domain": "worklife4you.com",
      "Base Domain HSTS Preloaded": "Fal

[2018-02-22 16:25] refayathaque commented on #149
@konklone I also just ran `worklife4you.com` (without the www.) in our Lambda function and what results is __Valid HTTPS is None__ :confused:

[2018-02-22 16:42] jsf9k commented on #149
@refayathaque, are you using the lambda zip in the `domain-scan` repo?  I don't think that zip has been updated in a while.  You can use `dhs-ncats/lambda_functions` to build a new zip for `pshtt`.

When I run in lambda using a zip I recently built, I get these (admittedly difficult to read - apologies for that) results:
[code]
Note that `Valid HTTPS` is `False`, not `None`.

[2018-02-22 16:44] jsf9k commented on #149
@refayathaque ah, nevermind, it looks like you built your own zip.  I should read more carefully. :)

[2018-02-22 17:12] refayathaque commented on #149
@jsf9k thanks for getting back! Yes, we built our own zip file and pushed the deployment package up to Lambda. I am now experimenting with the latest code from the pshtt repo `pip install git+https://github.com/dhs-ncats/pshtt.git@develop`, I created a local package (which I hope to push up to Lambda and test later), but our `pshtt.inspect_domains([url], {})[0]` invokation from before isn't workin

[2018-02-23 19:06] PaulSD opened #152 "pshtt incorrectly labeling www as the canonical_endpoint when root redirects to *any* www URL"
search.cio.gov is used to present search results for cio.gov.  If a valid search query is not provided, search.cio.gov redirects the user back to https://www.cio.gov/.
A *.cio.gov wildcard DNS record and certificate are used for search.cio.gov.  Due to the differences in wildcard handling between DNS and certificates, *.search.cio.gov subdomains will resolve, but HTTPS requests to them will result

[2018-02-23 22:38] konklone opened #153 "pshtt may not be handling client cert authentication properly"
See https://github.com/18F/pulse/issues/758 for the details, but it looks like `pshtt` may choke when client certs are required and mark it as non-compliant. If this is true, I think we should look into ways to prevent this.

cc @PaulSD

[2018-02-23 22:45] konklone commented on #152
Your analysis looks right to me. Here's the latest pshtt results for `search.cio.gov`:

* https://s3-us-gov-west-1.amazonaws.com/cg-4adefb86-dadb-4ecf-be3e-f1c7b4f6d084/live/subdomains/scan/cache/pshtt/search.cio.gov.json

I think the issue is that we have a naive check for whether or not the root endpoint is seen as "immediately redirecting to the www endpoint", during [our redirect analysis](htt

[2018-02-24 22:31] IanLee1521 commented on #148
@fpietrosanti - One alternative that you might consider (and @konklone, maybe we should consider getting this into domain-scan somehow?) is https://testssl.sh / https://github.com/drwetter/testssl.sh/ which does a lot more of the types of checks that @konklone alluded to.

It doesn't spit out a specific grade rating, but it does hit most if not all of the same types of things that SSL Labs provide

[2018-02-25 05:54] konklone commented on #153
The reference example is `sdv.example.com`. Here's [GSA's latest pshtt scan for it](https://s3-us-gov-west-1.amazonaws.com/cg-4adefb86-dadb-4ecf-be3e-f1c7b4f6d084/live/subdomains/scan/cache/pshtt/sdv.max.gov.json), showing that port 80 redirects to 443, but the connection is refused on port 443 because we don't attempt to initiate a connection with a client certificate.

So, thinking about this a

[2018-02-25 05:59] konklone commented on #153
Another thought: even if we essentially ignore client cert connections from a `pshtt` / M-15-13 perspective, from a BOD 18-01 perspective we should still be asking that the connection drop support for RC4/3DES/SSLv2/SSLv3.

That would be a `domain-scan`/`sslyze` problem, not a `pshtt` problem, though `sslyze` may have a better chance of being able to detect the server's need for a client cert than

[2018-02-25 06:00] konklone commented on #153
Yet another thought: I'm not an expert at TLS connections using client certificates, and thinking about it more, I may be wrong about the server not having obligations to present a valid unexpired certificate during the connection, if the connection is trying to establish mutual authentication. But I also don't know whether we could realistically present a certificate that would get us far enough

[2018-02-25 18:33] konklone commented on #152
This is fixed by #154.

[2018-02-26 15:03] jsf9k commented on #149
@refayathaque you need to add a line [like this](https://github.com/18F/domain-scan/blob/master/scanners/pshtt.py#L98) to trigger the work.  This changed about four months ago, and `pshtt.inspect_domains([url], {})` is now a generator.

[2018-02-26 15:16] #152 closed

[2018-02-26 17:45] PaulSD commented on #153
Sorry, port 443 on `sdv.max.gov` was actually down over the weekend, hence the connection refused error ... That's not the error you should normally get.

The way TLS works with client certificates is:

- Client sends "Client Hello" packet to server indicating supported TLS versions, supported Cipher Suites, SNI extension, and some other irrelevant stuff
- Server responds with several messages:

[2018-02-26 19:00] refayathaque commented on #149
@jsf9k thanks for getting back. We will test this once we get a chance, but before we do, a couple of questions.

# Actually triggers the work.
results = list(results)
^
Where is `list` defined? Are we importing this from pshtt as well?

# pshtt returns array of results, but we always send in 1.
return results[0]
^
Is it compulsory for us to `return results[0]`? In that case, we will need to take

[2018-02-26 19:32] konklone commented on #149
@refayathaque `list` is a built-in Python function, it forces a Python iterator (which is what `results` is when it's returned from `pshtt`) to evaluate the entire iterator and convert it into a full list of items.

[2018-02-26 19:42] konklone commented on #153
Ah, okay, this helps -- now it looks like it's a `ERR_CONNECTION_CLOSED` in Chrome, and a `(35) Server aborted the SSL handshake` in cURL.

Running `requests.get("https://sdv.max.gov", verify=False)` gives:

[code]

Some quick efforts to generate a fake PEM to use as a client certificate and pass in as the `cert` parameter for that aren't working well:

[code]

Though I think even if I could figur

[2018-02-26 19:54] jsf9k commented on #149
@refayathaque Once you do `list(results)` you will have a Python list of results like you were expecting from the old code.  You can return the entire thing, take the first one, or do whatever you want with it.

[2018-02-26 20:39] PaulSD commented on #153
A fake cert isn't actually going to help ... Assuming the server is properly validating the client cert, it will simply reject your fake cert and terminate the handshake in the same way as it does when you don't provide a cert.  A quick test using curl on the command line returns `SSL_connect: SSL_ERROR_SYSCALL in connection` both for a missing client cert and for a fake client cert that is reject

[2018-02-26 20:54] PaulSD commented on #153
Hmm... To make things more complicated, it looks like different servers behave slightly differently and cause different curl errors.  Some servers terminate the connection without terminating the handshake resulting in `SSL_ERROR_SYSCALL`, other servers send an SSL alert before terminating the connection resulting in `error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure`...

[2018-02-26 21:02] konklone commented on #153
And when I try hitting it via `sslyze` (via `domain-scan`), I get this when pinging `sdv.max.gov:443`:

[code]

The full command and stack trace is:

[code]

This looks like a toughie...

[2018-02-26 21:02] konklone commented on #153
@PaulSD can you share another hostname which demonstrates different behavior via cURL from sdv.max.gov

[2018-02-26 21:18] PaulSD commented on #153
Ok, for testing:
sdv.max.gov now has a bad server cert, which makes curl barf before hitting the cert auth part.  If you tell curl to ignore the server cert error and continue, then the server rejects the missing (or invalid) cert by closing the TCP connection without a TLS alert.
sdx.max.gov has a good server cert.  The server rejects the missing (or invalid) cert by sending a TLS alert before cl

[2018-02-26 21:21] PaulSD commented on #153
It looks to me like something is hosed in your sslyze.  `self._ssl.set_cipher_list(cipher_list)` should be called before the SSL handshake starts.

Here's what I get:
[code]

[2018-02-27 03:53] konklone commented on #153
Hmm, you're right that the `sslyze` command line interface seems to handle this better than the Python code. I get crashes in Python (and filed an issue about one here: https://github.com/nabla-c0d3/sslyze/issues/294).

It looks like this is going to be tough given pshtt's current code structure, since the SSLyze-based checks only happen after we've already ruled out various TLS handshake errors (

[2018-02-27 13:13] jsf9k commented on #153
@konklone I think you're right.  As long as port 443 is open we should run the host through {{sslyze}}.

[2018-03-05 16:27] sjparkinson opened #156 "HSTS Preloaded is reporting False incorrectly"
Running `pshtt --markdown ft.com` you get...

|Domain |Base Domain|   Canonical URL   |Live |Redirect|Redirect To|Valid HTTPS|Defaults to HTTPS|Downgrades HTTPS|Strictly Forces HTTPS|HTTPS Bad Chain|HTTPS Bad Hostname|HTTPS Expired Cert|HTTPS Self Signed Cert|HSTS |                 HSTS Header                 |HSTS Max Age|HSTS Entire Domain|HSTS Preload Ready|HSTS Preload Pending|HSTS Preloaded|B

[2018-03-05 19:13] jsf9k commented on #156
Thanks for the issue, @sjparkinson!  I think the intent of `pshtt` is to be strict and only count domains as HSTS preloaded if they are _fully_ HSTS preloaded (meaning that all subdomains are included as well).  This is because we only want to give the thumbs up to domains that fully protect the user.  That said, this code is two years old and long predates my involvement with `pshtt`.  As a resul

[2018-03-06 00:34] konklone commented on #156
That's right - `pshtt` is measuring whether the *zone* is preloaded, not just the hostname being scanned. That calculation is then used downstream by consuming reports, and has an impact on how subdomains of that zone are measured. For that reason, we intentionally scoped it to count only preload entries where `include_subdomains` is `true`.

[2018-03-06 09:19] sjparkinson commented on #156
Sounds like a totally fair answer to me. Was not entirely sure if it was intentional, so thanks for clarifying!

[2018-03-06 13:07] jsf9k commented on #156
Closing, since the @sjparkinson's question was answered.

[2018-03-06 13:07] #156 closed

[2018-03-08 19:56] IanLee1521 commented on #156
Would it be worth updating the [README](https://github.com/dhs-ncats/pshtt#hsts) to specify as much for the "HSTS Preloaded" description?

[2018-03-08 20:25] jsf9k commented on #156
Yes, and I just did that.  See #157.

[2018-03-09 17:04] refayathaque commented on #149
Hi @konklone and @jsf9k, thank you once again for guiding us on how to use the most recent version of the module, we pip installed directly off the repo and used the new scan function invocation. We are now running our scans off the repo, and we seem to be getting the same results as before, at least for three test cases, and we are a little perplexed by the results. Allow me to elaborate.

1. www

[2018-03-25 15:57] #134 closed

[2018-03-25 15:58] konklone commented on #102
Resolved in https://github.com/dhs-ncats/pshtt/commit/a1eab7c5b272cf367ef235ab52ba76e11f957899.

[2018-03-25 15:58] #102 closed

[2018-03-25 16:02] #73 closed

[2018-03-25 16:02] konklone commented on #73
Feel free to re-open if this is still a problem.

[2018-03-25 16:09] konklone commented on #149
@refayathaque -

1. For worklife4you.com, you should get (and I do get) the same results whether you use `www` or not. `pshtt` treats those inputs as identical. And for that host, I get `False` for all of the relevant fields. One key issue is that `https://www.worklife4you.com` redirects immediately to `http://www.worklife4you.com/index.html`, which is a downgrade and causes the domain to be flagg

[2018-04-06 14:29] jsf9k commented on #111
TravisCI is now automatically deploying to PyPI and Docker Hub when the repo is tagged.  (The version information comes from the file `pshtt/__init__.py`.)  This resolves this issue.

I've also added some helper scripts in the root directory of the project for bumping versions and tagging.  These are `bump_version.sh` and `tag.sh`, respectively.

[2018-04-06 14:29] #111 closed

[2018-04-06 14:40] IanLee1521 commented on #111
That is so cool! I didn't realize there was a `semver` package.

One... Question...? With a lot of these things, I like to make the `git push` a separate (manual) action, e.g. https://github.com/dhs-ncats/pshtt/blob/c3a0d360660c7d6a4ecab8ecf54e5a69acb44d0b/bump_version.sh#L22

-- Thoughts?

That way I can go back and fix it up if I did something accidentally.

[2018-04-06 14:52] jsf9k commented on #111
I only thought to look for such a package because I've used [this `semver` package](https://www.npmjs.com/package/semver) in the past when working with `npm`.

I first had `bump_version.sh` without the `git push`, for the very reason you mention, but I quickly got tired of having to do the separate manual push step.  I think there's an argument for doing it either way.

Since I intend to make simi

[2018-04-06 15:17] IanLee1521 commented on #111
Sure thing! I'll take a look today or over the weekend.

And yes, that Markdown support is awesome. I'd been following that conversation / ticket / feature request for a long time. This will be the first time I've seen it used. :)

[2018-04-23 19:01] refayathaque opened #172 "Migrating from Python2.7 to 3.4"
We are looking to refactor our codebase utilizing your older pshtt library based on Python2.7. Before doing so, we wanted to know if there is anything important we will need to know.

IE Do we still invoke pshtt this way? `pshtt.inspect_domains([url], {})[0]`

Thank you!

[2018-05-08 14:24] refayathaque commented on #172
Figured it out.

`pshtt_results = pshtt.inspect_domains([url], {})`

_Actually triggers the work._
`pshtt_results = list(pshtt_results)`
_List is a built-in Python function, it forces a Python iterator (which is what results is when it's returned from pshtt) to evaluate the entire iterator and convert it into a full list of items._
_Once you do `list(pshtt_results)` you will have a Python list of

[2018-05-08 14:25] #172 closed, assigned to nobody

[2018-05-09 18:30] refayathaque opened #173 "pip install on amazonlinux docker container"
Hi guys, my problem is related to Gary's [issue](https://github.com/dhs-ncats/trustymail/issues/65).

We are trying to create an AWS Lambda function that utilizes pshtt. We are using a Docker container (amazonlinux) to get the AWS specific binaries (.so files) we need for the Lambda deployment package. [ We tried this using an Ubuntu container but Lambda wasn't working, and for this we were refere

[2018-05-10 17:29] konklone commented on #173
Have you tried using the Lambda function builder that DHS built? https://github.com/dhs-ncats/lambda_functions

I've been using it for pshtt and it's made the packaging process worlds easier.

[2018-08-24 09:17] bpanchan commented on #89
I am Balaji from Citrix networking team and it is an load balancing product
 This issue is seen for one of our customer who has load balanced his application using our product
Is there any ETA for this issue

[2018-08-27 17:16] konklone commented on #89
@bpanchan There's no ETA I'm aware of for this issue. We welcome open source contributions.

[2018-09-17 23:02] chigby opened #176 ""Strictly Forces HTTPS" can sometimes be null"
Hi,

I've noticed that for some sites I'm scanning, the Strictly Forces HTTPS field is sometimes `null`. I suspect this is for similar reasons as #49.

Here's a representative example:

[code]
results in (some fields snipped for brevity):
[code]

My theory is that this is due to not being strict (no pun intended) with booleans in [the code here](https://github.com/dhs-ncats/pshtt/blob/develop/psht

[2018-10-11 17:34] PF-Larry commented on #153
@konklone @PaulSD

I'm running into this issue as well with workspace.usda.gov.

[2019-01-15 12:57] jsf9k opened #181 "pshtt and sslyze appear to be inconsistent with respect to certificate expiration"
@dav3r noticed that if he performs the MongoDB queries `db.https_scan.find({'latest':True, 'https_expired_cert':True})` and `db.sslyze_scan.find({'latest':True, 'not_after':{'$lte':util.utcnow()}})` then he gets different answers.  Specifically, the first query returns more results.

While sslyze is just saving the "not after" data directly from the certificate, pshtt is performing [a bit of analy

[2019-02-15 14:12] jonathanosullivan commented on #153
We are seeing this same issue with https://vhs.services.nesdis.noaa.gov which is Citrix NetScaler Access Gateway with Client Certificate Authentication set to mandatory.

[2019-02-25 12:35] rickminer commented on #153
We are seeing this same issue with trident.fisheries.noaa.gov and trident-test.fisheries.noaa.gov. Both have Client Certificate set to mandatory and when scanned return saying that TLS/SSL is not enabled let alone being able to detect an HSTS header.

[2019-02-25 17:48] PF-Larry commented on #153
We have a pseudo workaround for our netscaler, allowing it to be scanned and show complaint without lowering our security posture too much. Be happy to share configurations @jonathanosullivan @rickminer .

[2019-03-04 16:47] refayathaque opened #185 "Cannot trace back urllib3.connection function invocation"
Hi guys,

I am using pshtt to scan `urc-31-6.od.nih.gov` to expose its invalid certificate. If you try and access the domain in Chrome you'll see that it is using a certificate that is issued to `extranet.sbir.nih.gov`, and the certificate's subject alt names are also different (`extranet.sbir.nih.gov` and `www.extranet.sbir.nih.gov`).

When I run pshtt on this domain, I am getting this error mess

[2019-03-21 17:20] jsf9k commented on #153
Client cert issues should be resolved by #179.

[2019-03-21 17:20] #153 closed

[2019-04-02 01:41] trevorbryant opened #190 "Install instructions"
Is Python 2 still required? Installing from `pip` errors with `Could not find a version that satisfies the requirement sslyze>=2.0.6`.

The install instructions state Python3  is supposed. Should the instructions be updated for `pip3` installs?

[2019-04-04 15:00] jsf9k commented on #190
Hi @trevorbryant!

The instructions assume that your local, default python is version 3.  If your local default python is version 2 then yes, you should install via `pip3` and run with `python3`.

I'm going to close this issue, but feel free to reopen if you disagree.

[2019-04-04 15:02] #190 closed, assigned to nobody

[2019-04-04 15:58] trevorbryant commented on #190
Thanks for the response! I think I'll send a PR as that lack of instructional detail will eventually come back.

[2019-05-07 01:09] echudow commented on #89
We already capture the final response from redirects in `ultimate_req`.  Can we just use that response to see if the site is still the same and the headers include HSTS if the root response didn't include HSTS, or would we need to actively check every response if there are multiple redirects?  If it's just the final response, I can go ahead and make the change.

We just got a request about this sa

[2019-05-07 13:27] tallardyce commented on #89
FWIW, we're (Gov Canada) looking at this issue and treating all endpoints as separate domains -- just because a root also has a www doesn't mean that the root should inherit the www results, and are grappling with that as the domain scanner always looks at each endpoint (all 4) every time it does a scan. HSTS for www shouldn't be inherited for root, or vice versa -- definitely not from an external

[2019-05-09 10:43] echudow commented on #89
@tallardyce, that makes sense since HSTS only applies to each specific host name individually.  `pshtt` looks at HSTS for each endpoint individually, but then the `pshtt` results only reports the HSTS status of what it considers the canonical endpoint.

For the additional HSTS checks on redirects, they should only check for HSTS if the redirects are on the same endpoint and ignore them otherwise.

[2019-05-15 01:31] echudow commented on #89
See https://github.com/cisagov/pshtt/commit/4861dd35eba1ecf025e8f8023a1baab157137fed for suggested changes to look for HSTS on all redirects.  Is that what we should do?

[2019-06-07 16:10] climber-girl opened #194 "HSTS not checked at both https endpoints"
While looking at egeo.usss.gov for HTTPS/HSTS issues per customer request for assistance to understand why 'Enforces HTTPS' was failing (based on the most recent code change we made here: https://github.com/cisagov/pshtt/pull/192, http-www endpoint was correctly causing this failure because it doesn't redirect to an https site), I noticed that the https-www endpoint also does not have an HSTS head

[2019-06-20 17:57] jsf9k opened #195 "Other requests response exception"
# 🐛 Bug Report

When performing pshtt scanning, sometimes we get an error in AWS Lambda stating "other requests response exception".  In this case we do not receive scan results for the domain that errored.

## To Reproduce

`caats3.va.gov` is a domain where this happens often.

## Expected behavior

A successful scan.

## Any helpful log output

None.

[2019-06-20 18:02] jsf9k opened #196 "HSTS max-age discrepancy"
# 🐛 Bug Report

SSLLabs reports some sites as having an HSTS max-age value while pshtt does not.

## To Reproduce

Compare SSLLabs and pshtt output for `www.iad.gov`, `www.cnss.gov`, or `www.ioss.gov`.

## Expected behavior

SSLLabs and pshtt results should agree on the HSTS max-age value returned.

[2019-06-20 22:39] echudow commented on #196
This should be fixed by merging in https://github.com/cisagov/pshtt/pull/193.

[2019-06-20 23:26] jsf9k commented on #196
Thanks.  I will get back to that PR early next week.  I need to do a regression test.  I'm sorry this is taking so long.  I'm swamped these days. :disappointed:

[2019-06-21 01:08] echudow commented on #194
@climber-girl, I agree.  If both endpoints are live then they should both have HSTS and we should check for that. However, the code currently does a lot to scope things to only check the canonical endpoint rather than both types (root and www).  I wonder what @h-m-f-t thinks?

[2019-07-25 11:00] jdawg06 commented on #89
How about for Server Name Indication (SNI)? We have a couple sites that are using the same host, but are using SNI so that we can use the same server for multiple sites. We implemented HSTS using an F5 LTM http profile with HSTS turned on. We noticed that both pshtt and SSLabs both report that HSTS is not implemented still.

Any thoughts? And thank you in advance!

[2019-07-25 14:33] echudow commented on #89
@jdawg06, `pshtt` uses `requests` to perform the web requests and get the HSTS header.  `requests` natively supports SNI automatically so `pshtt` should be connecting to the individual sites already and if there are HSTS headers, it should already see them. Can you provide some specific sample sites that are having this issue?

[2019-07-25 15:33] jdawg06 commented on #89
account-fqt.etc.uspto.gov

I ran it against the Qualys SSL Test and it didn't pass HSTS. However, when i use Chrome DevTools and go under Network > Headers, its there. Configured with the max-age, and "includeSubDomains".

[2019-07-25 15:57] echudow commented on #89
@jdawg06, the problem is not SNI.  The issue is that the initial response for `https://account-fqt.etc.uspto.gov` does not include an HSTS header, but instead uses Javascript to set a cookie and reload the page.  Once the cookie is set, then there are other responses and redirects that include the HSTS header, but the scanners (both `pshtt` and Qualys SSL Test) don't interpret the Javascript to ev

[2019-07-30 22:50] echudow commented on #195
@jsf9k I wonder if this has to do with the breaking change in `sslyze` v2.1.0 in early June where they changed how certificate verification works and so a number of the fields in the certificate plugin went away.  I think there were some missing attribute exceptions.  See the commits in my fork at https://github.com/echudow/pshtt/commit/c2f427b005f799ea7e916a5b067dbb4c55cce3f9 and https://github.c

[2019-08-01 14:21] jsf9k opened #198 "Sometimes returns None for Valid HTTPS"
# 🐛 Bug Report

pshtt sometimes returns `None` for the `Valid HTTPS` field.  Originally reported by @climber-girl.

## To Reproduce

This error is difficult to reproduce.  It happened with the following domains (and more) in the July 26-28 BOD scanning run:
* `icisairtestnode.epa.gov`
* `icisbatchcdxtest.epa.gov`
* `icisreportsxidev.epa.gov`
* `icisstagenode.epa.gov`
* `iciswsprod.epa.gov`
* `icis

[2019-08-01 14:22] jsf9k commented on #198
See #197.  I improved the exception logging in pshtt, so if this issue happens again I should be able to glean more information.

[2019-08-01 14:33] jsf9k commented on #195
@echudow This issue can't be due to that, since the pshtt lambda hadn't been rebundled since May.  Thanks for mentioning that, though, since it will be a problem now (as I'm rebundling to deploy the logging improvements in #197, which will pull in a newer sslyze).

[2019-08-02 00:40] echudow commented on #198
From looking at the code and a quick test of these domains, it looks like sometimes the `sslyze` certificate plugin times out even though the connectivity check earlier was successful.  That is probably what is happening here.  Since the certificate check couldn't get the cert data, and we try to do the `sslyze` check even in cases where `requests` determined that the certificate was not trusted,

[2019-08-19 19:25] jsf9k opened #205 "Need more exhaustive check to determine if an HSTS header will be ignored"
# 🐛 Bug Report

Consider the function `hsts_check()` in `pshtt/pshtt.py`.  It's not just a bad hostname that should cause the HSTS header to be ignored.  It is also ignored if the certificate is untrusted, for example.  (See item 2 in [the RFC](https://tools.ietf.org/html/rfc6797#section-2.2).)  Therefore I think that this `if` clause should be fleshed out a little more.

We should be a little car

[2019-08-19 21:38] mcdonnnj commented on #205
Should this check just get blanketed under `endpoint.https_valid`? That would check `endpoint.https_expired_cert`, `endpoint.https_self_signed_cert`, `endpoint.https_bad_chain`, and `endpoint.https_bad_hostname`. My only concern is that there are allowances for self-signed certs in [section 11](https://tools.ietf.org/html/rfc6797#section-11.3), but I'm not sure if we currently encounter those envi

[2019-08-20 02:33] jsf9k opened #206 "How should we handle HSTS headers and HTTP redirects in the redirect chain?"
# 🐛 Bug Report

The current pshtt logic that examines the HSTS headers gives credit if any HSTS header encountered in the redirect chain involves the initial endpoint/hostname. If the redirect chain goes on to send the user to an HTTP URL on an entirely different domain for which the browser has never seen an HSTS header, then it seems to me that the user is not being protected by the HSTS header.

[2019-08-20 04:21] mcdonnnj commented on #206
I believe that credit for a domain should only be given in cases where the STS header is for that domain, or in the case of a subdomain, if a superdomain serves an STS header with the `includeSubDomains` directive. I agree with @jsf9k that if the STS header is served on a redirect URI that does not match the above cases then the original domain should not receive credit for using HSTS.

[2019-08-20 13:35] echudow commented on #206
I don't think we currently check superdomains to see if they include the includeSubDomains directive.

Yes, https://github.com/cisagov/pshtt/pull/193 already only gives credit if the original domain uses HSTS, but allows for that to be later on in the redirect chain on the same domain.  I think the question here is if a domain should get credit for HSTS when it uses HSTS itself, but then redirects

[2019-08-20 14:15] echudow commented on #205
@konklone said in a different thread:

It is entirely possible that some sites will use non-public certs with HSTS and expect all internal clients to trust the non-public certs, so it is ok for them.  If all the sites that are scanned will always be public-facing sites that the public should be accessing, then they should use publicly trusted certs, but I don't know that we can make that assumptio

[2019-11-08 13:50] mpreissner opened #207 "Incorrect calculation for "Enforces HTTPS""
# 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

Install pshtt on CentOS 7.7.
Run test against desired site with known Valid HTTPS and Defaults to HTTPS

## Expected behavior

A given site returns "Valid HTTPS=True" and "Defaults to HTTPS=True", so "Domain Enforces HTTPS" should be True.

I support a federal agency...according

[2019-11-08 14:24] DOS-cyber commented on #207
Remember that it checks [site].[tld] as well as [www].[site].[tld]. http://www.list.ahrq.gov returns a 404, it doesn’t 3xx redirect to https.
Neil

From: mpreissner <notifications@github.com>
Sent: Friday, November 8, 2019 8:51 AM
To: cisagov/pshtt <pshtt@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [cisagov/pshtt] Incorrect calculation for "Enforces HTTPS" (#207)

🐛

[2019-11-08 14:44] mpreissner commented on #207
Thanks Neil.  If we simply get rid of the www 4th level domain, will that make the calculation come up as desired?

[2019-11-08 16:25] echudow commented on #207
You're right, the documentation should be updated.  https://github.com/cisagov/pshtt/pull/192 updated the logic for Domain Enforces HTTPS to also require Strictly Forces HTTPS to be True.

[2019-12-15 11:15] NeolithEra opened #208 "Installation fails due to conflicting cryptography version"
Hi, users are unable to run **_pshtt_** due to dependency conflict with _**cryptography**_ package. As shown in the following full dependency graph of **_pshtt_**, **_pyopenssl_** requires _**cryptography >=2.8**_，while **_sslyze_** requires _**cryptography ==2.5**_.

According to pip’s _“first found wins”_ installation strategy, _**cryptography 2.8**_ is the actually installed version. However, _

[2019-12-15 11:16] NeolithEra commented on #208
### Suggested Solution

Ask your upstream project **_sslyze_** to loose the version range of **_cryptography_**.

@konklone Could I submit a PR to solve this issue？

[2019-12-16 16:29] treyperrone commented on #198
I've recently run into an issue the past couple weeks where pshtt seems to not see the redirect and i get `https_valid: null` I have an AWS CloudFront redirect all http --> https which i think is similar to a rewrite method. I am getting some really odd behavior though. Even setup a new instance on GCP and grabbed pshtt 0.6.6 and it fails, then downgrade to 0.6.5 and it passes fine; upgrade back t

[2020-01-04 00:11] mcdonnnj commented on #208
This is an [open issue](https://github.com/nabla-c0d3/sslyze/issues/400) for sslyze, but it appears to be marked for the eventual 3.0 release per the [project board](https://github.com/nabla-c0d3/sslyze/projects/1#card-29462171). Comments on the issue show no run issues, but feel free to submit a PR for review.

[2020-03-31 14:15] Ethanljf opened #209 "Sslyze version incompatibility"
# 🐛 Bug Report

The latest changes to SSLYZE cause a few import issues within pshtt.py.

## To Reproduce

Run pshtt in conjunction with the latest version of sslyze available via PIP

## Expected behavior

Pshtt succesfully implements https_check() to figure out the reason an endpoint wouldn't verify.

## Any helpful log output

Import errors stemming from pshtt.py

To resolve these issues, I reco

[2020-04-17 17:34] jwomackgsa commented on #208
Looks like sslyze v3 has been released but it still does complain when cryptography is above 2.8

[2020-04-23 16:57] mcdonnnj commented on #208
[sslyze 3.0.2](https://github.com/nabla-c0d3/sslyze/releases/tag/3.0.2) appears to have fixed this.

[2020-04-23 20:27] jwomackgsa commented on #208
I just did a clean venv and did a pip install of pshtt.  Now its complaining this way.
`ERROR: sslyze 3.0.2 has requirement cryptography<=2.9,>=2.6, but you'll have cryptography 2.9.2 which is incompatible.`

[2020-04-30 18:56] michaelblyons commented on #208
I have a similar problem wherein the `nassl` package requirements are inconsistent.

[2020-06-10 19:36] TejKanitkar opened #210 "sslyze module error when attempting to run pshtt"
![use this scrennshot](https://user-images.githubusercontent.com/13122925/84310608-ea3e8580-ab2f-11ea-9420-7cbb1d4753a0.jpg)

python3 --version is 3.7, sslyze --version is 3.0.6

did I install pshtt or sslyze incorrectly? Tried updating sslyze, tried manually installing pshtt, nothing's working

[2020-07-14 14:17] ccpitts opened #212 "Idea: Validate Certificate Transparency Logs"
# 🚀 Feature Proposal

Verify Certificate Transparency Logging on a given website

## Motivation

Compliance with agency security directives

## Example

Boolean yes/no check on whether Certificate Transparency Logs are in two places

## Pitch

My agency relies on this tool for compliance checks of public-facing websites

[2020-08-30 14:50] epicfaace opened #213 "Can't install latest version on python 3.8"
When I install the latest version on python 3.8, I get an error:

[code]

However, the older version works fine:
[code]

Must have been caused by #211 (@cablej ?)

[2020-09-08 14:46] mcdonnnj commented on #213
@epicfaace thank you for your interest in our projects. Unfortunately this is a result of the builds for [nassl](https://github.com/nabla-c0d3/nassl). There are no Python 3.8 wheels (`bdist`) for the following versions: `1.1.0`, `1.1.2`, `1.1.3`, `2.00`, `2.1.0`, `2.1.1`, `2.1.2`, and `2.2.0`. There is also no source (`sdist`) option to fall back on after version `1.0.3`. The result of this is tha

[2020-11-03 20:53] #213 closed, assigned to nobody

[2020-11-09 17:30] SaptakS commented on #209
Any plans to update to sslyze v3? cryptography seems to have a CVE which is solved in Cryptography 3.2, but sslyze v2.x pins the dependency to 2.5 and hence not updating to sslyze v3 technically means using cryptography package with vulnerability.

[2021-01-04 21:41] harrislapiroff commented on #209
Checking in again if there are any plans to upgrade to a newer sslyze.

This is becoming something of an issue for us at Freedom of the Press Foundation as the version of `cryptography` the existing dependency tree requires has been accumulating more known security issues. So far, fortunately, none of the issues have been problems for us, but someday one might be and we'd really like to be able to

[2021-01-20 19:08] mcdonnnj commented on #210
This was band-aided in https://github.com/cisagov/pshtt/pull/211, and will fixed when #209 is resolved.

[2021-01-20 19:08] #210 closed, assigned to nobody

[2021-01-26 15:06] hillaryj opened #215 "Skeletonize repository and standardize code formatting"
# 💡 Summary #

This repository still uses Travis instead of GitHub Actions, is not [skeletonized (per our project setup guide)](https://github.com/cisagov/development-guide/tree/develop/project_setup), and the python code is not formatted with `black`, our standard code-formatting tool.

## Motivation and context ##

Standardize code and repository setup to keep it updated and enable standard lint

[2021-01-28 22:04] climber-girl opened #216 "Redirecting to External Sites Causes Non-Compliance"
# 🐛 Summary #

Why should domains have to redirect immediately to another site in the same domain?  Don't the following ring true as compliant with BOD 18-01?

a) if HTTP, must redirect using code in the 300s to a location of https:// (regardless of whether on the same domain)
b) if HTTP, HTTPS of domain must be supported (regardless of if HTTP status code)
c) HTTPS must have strong HSTS with a ma

[2021-03-20 15:35] BastianZim opened #217 "Change the library used to access the public suffix list since the `publicsuffix` package is deprecated"
# 💡 Summary #

publicsuffix, a dependency of this project, is outdated and will not be supported anymore: https://pypi.org/project/publicsuffix/

## Motivation and context ##

This makes it difficult to install it in different environments where publicsuffix is not available as it will never be ported, furthermore, it might introduce security risks and outdated information.

## Implementation note

[2021-03-26 13:26] infopowerbroker opened #218 "Unable to install with PIP"
# 🐛 Summary #

Unable to use PIP to do a clean pshtt install on a new machine. First you receive a warning about dependencies, then an error for recursive evaluation going too deep.

I was able to get this to work in 2018 and 2019, but not in 2021 (installing on a new machine). If I had to guess, I'm thinking the requirements.txt needs to be updated with tighter version constraints.

for my VM, it

[2021-05-04 16:53] NeckBeardPrince commented on #218
Same issue here. Crazy CISA hasn't acknowledged this.

[2021-07-02 14:49] climber-girl commented on #216
Looks like researchtoreality.cancer.gov may be in the same boat with respect to not being seen as compliant with "Enforces HTTPS" according to pshtt due to the external redirect. @h-m-f-t @jsf9k @konklone any thoughts?

[code]

[2021-07-06 19:21] echudow commented on #216
I agree with you that [`Domain Enforces HTTPS`](https://github.com/cisagov/pshtt/blob/59f2bb0b1d64a79adf13552c711c883771020178/pshtt/pshtt.py#L1336) should be `True` for `http://researchtoreality.cancer.gov` due to all the redirects to `https://` addresses, and in this case it's incorrectly `False`.

However, I don't think [`http_upgrades(endpoint)`](https://github.com/cisagov/pshtt/blob/59f2bb0b1

[2021-07-07 14:52] climber-girl commented on #216
Thanks, @echudow!  I didn't even consider the ineffectiveness of the domain's HSTS header with this type of redirect behavior.  While technically, the domain serves strong HSTS, that directive to only use HTTPS would not be heeded since it wouldn't be seen in certain situations and, therefore, I get why this wouldn't be considered Enforces HTTPS.

Unless you, @h-m-f-t, @konklone, @jsf9k, @dav3r, o

[2021-07-08 13:10] erowley2501 commented on #218
I am seeing the same error when attempting to install using the PIP included in the official Python for Windows on Windows 10 and Windows Server 2016.

On Ubuntu 20.04 LTS, I am seeing this error with it's pip 20.0.2 package:
`ERROR: Could not find a version that satisfies the requirement nassl<2.3.0,>=2.2.0 (from sslyze<3.0.0,>=2.1.3->pshtt) (from versions: 0.13.4.win32, 0.13.1, 0.13.2, 0.13.4, 0

[2021-07-09 19:04] #216 closed, assigned to h-m-f-t, jsf9k, mcdonnnj

[2021-08-26 13:48] SebieF commented on #218
Same issue here (Ubuntu 20.04), I tried with `python3 setup.py install`, seems like sslyze needs `cryptography==2.5`, but installing it manually results in this conflict: `pyopenssl 20.0.1 requires cryptography>=3.2, but you have cryptography 2.5 which is incompatible.`

Edit: Seems like #214 tries to fix this, and installing from the fork from branch sslyze3-support works fine for me :)

[2022-03-22 21:59] mcdonnnj commented on #218
This package currently only supports Python 3.6 and 3.7. The current configuration does not *enforce* that limitation, but it is a problem on installation because there are dependency versions that do not support >py3.7.

[2022-03-22 21:59] #218 closed, assigned to nobody

[2022-03-22 22:06] NeckBeardPrince commented on #218
Instead of just closing the issue could a PR be created to resolve the problem?

[2022-10-17 18:15] #215 closed, assigned to nobody